<section class="container">
  <%= render BlockScoutWeb.TransactionView, "overview.html", assigns %>

  <div class="card">
    <%= render BlockScoutWeb.TransactionView, "_tabs.html", assigns %>
    <div class="card-body" data-selector="raw-trace">
      <%= render "_card_body.html", assigns %>
    </div>
  </div>
</section>
