explorer.testnet.hoku.sh {
  reverse_proxy block-explorer-proxy:5000
  tls infra@3box.io
}
explorer-stats.testnet.hoku.sh {
  reverse_proxy block-explorer-stats:8080
  tls infra@3box.io
}
explorer-visualize.testnet.hoku.sh {
  reverse_proxy block-explorer-proxy:8081
  tls infra@3box.io
}
