.ad-container {
    display: table;
    margin: 0 auto;
    height: 96px;
}

.ad {
    height: 20.05px;
    @include media-breakpoint-down(sm) {
        height: 38.05px;
    }
}

a.ad-url {
    color: $tile-body-a-color;
}