.address-overview {
  .card-section {
    margin-bottom: 3rem;
  }

  .card {
    margin-bottom: 0;
    height: 100%;
  }
}

.balance-card-title {
  margin-bottom: 0.5rem;
}

.address-detail-item {
  display: inline-block;
  padding-bottom: 0.5em;
  margin-right: 1em;
}
