.address-link {
  &__font {
    font-family: $font-family-monospace;
  }

  &__type {
    padding: 0 3px;
  }

  &__seperator {
    margin: 0 2px;
  }

  &__copy-button {
    background-color: $gray-100;
    appearance: none;
    border-color: transparent transparent transparent $border-color;

    i {
      color: $gray-500 !important;
    }
  }
}
