.badge {
  color: $white;

  &-primary {
    background-color: var(--primary);
  }

  &-secondary {
    bacground-color: var(--secondary);
  }

  &-tertiary {
    background-color: var(--tertiary);
  }
}
