$btn-dropdown-line-bg: #fff !default;
$btn-dropdown-line-color: #e2e5ec !default;
$btn-dropdown-line-color-hover: #f5f6fa !default;
$btn-dropdown-line-font: #333;

.btn-dropdown-line {
  @include btn-line($btn-dropdown-line-bg, $btn-dropdown-line-color, 14px);
  border-color: $btn-dropdown-line-color;
  color: $btn-dropdown-line-font;
  outline: none !important;
  margin-right: 20px;
  &.no-rm {
    margin-right: 0;
  }

  &:hover {
    background-color: $btn-dropdown-line-color-hover;
    border-color: $btn-dropdown-line-color;
    color: $btn-dropdown-line-font;
  }

  &.addr-txs {
    height: 24px;
    font-size: 12px;
    @include media-breakpoint-down(sm) {
      margin: 0 0 10px 0 !important;
    }
  }
}

.js-end {
  justify-self: end;
}