.btn-swap {
    background-image: url("/images/icons/honeyswap.png");
    background-size: 15px 16px;
    width: 15px;
    height: 16px;
    background-repeat: no-repeat;
    display: inline-block;
    margin-bottom: 3px;
    vertical-align: middle;
    cursor: pointer;
}