.btn-add-to-mm {
    background-image: url("/images/icons/metamask.png");
    background-size: 15px 16px;
    width: 15px;
    height: 19px;
    background-repeat: no-repeat;
    display: inline-block;
    vertical-align: middle;
    cursor: pointer;
}

.btn-add-chain-to-mm {
    background-image: url("/images/icons/metamask.png");
    background-size: 15px 16px;
    background-repeat: no-repeat;
    background-position-x: 30px;
    background-position-y: center;
    padding-left: 35px;
    outline: none;
}