.btn-swap {
    background-size: 20px 21px;
    width: 20px;
    height: 21px;
    background-repeat: no-repeat;
    display: inline-block;
    margin-bottom: 3px;
    vertical-align: middle;
    cursor: pointer;

    &.honeypot {
        background-image: url(../static/images/icons/swap/honeyswap.png);
    }
    &.sushi {
        background-image: url(../static/images/icons/swap/sushi.svg);
    }
    &.swapr {
        background-image: url(../static/images/icons/swap/swapr.svg);
    }
    &.curve {
        background-image: url(../static/images/icons/swap/curve.svg);
    }
    &.component {
        background-image: url(../static/images/icons/swap/component.png);
    }
    &.cowswap {
        background-image: url(../static/images/icons/swap/cowswap.png);
    }
    &.oneinch {
        background-image: url(../static/images/icons/swap/1inch.svg);
    }
}