$btn-no-border-bg: #fff !default;
$btn-no-border-color: $primary !default;

.btn-no-border {
  @include btn-line($btn-no-border-bg, $btn-no-border-color);

  border-color: $btn-no-border-bg;

  &:hover {
    border-color: $btn-no-border-color;
  }
}

.btn-no-border-link-to-tems {
  background-color: rgba($primary, 0.1) !important;
  border-color: #00000000 !important;
  align-items: center;
  border-radius: 2px;
  display: flex;
  font-size: 12px;
  position: relative;
  user-select: none;
  text-align: center;
  white-space: nowrap;
  color: $primary !important;

  &:hover {
    border-color: #f5f6fa;
  }
}
