.button {
  border: none;
  display: inline-block;
  text-align: center;
  text-decoration: none;
  white-space:  nowrap;
  padding: 8px 10px;
  border-radius: 2px;
  cursor: pointer;
  -webkit-transition: all 0.25s;
  transition: all 0.25s;

  &-primary {
    background-color: $primary;
    color: $white;
    border: 1px solid $primary;

    &:hover,
    &:focus {
      background-color: darken($primary, 10%);
      border-color: darken($primary, 10%);
      text-decoration: none;
    }

    &:disabled {
      background-color: $gray-300;
      color: $gray-800;
      text-decoration: none;
    }
  }

  &-secondary {
    border: 1px solid $tertiary;
    color: $tertiary;
    font-weight: 400;

    &:hover,
    &:focus {
      background-color: darken($tertiary, 10%);
      border-color: darken($tertiary, 10%);
      color: $white;
      text-decoration: none;
      outline: none !important;
    }
  }

  &-xs {
    font-size: 11px;
    padding: 6px 9px 6px !important;
  }

  &-sm {
    font-size: 12px;
    padding: 10px 20px 10px;
  }

  &-md {
    font-size: 1.5rem;
    padding: 15px 30px 15px;
  }

  &-lg {
    font-size: 1.5rem;
    padding: 20px 60px 20px;
  }

// Block button
// -------------------------

  &-block {
    display: block;
    width: 100%;
  }

  &-disabled,
  &:disabled, {
    background-color: $gray-300;
    color: $gray-500;
    text-decoration: none;
  }

}

// Vertically space out multiple block buttons
.button-block + .button-block {
  margin-top: 5px;
}
