.card {
  border-color: transparent;
  box-shadow: 0 5px 40px -5px rgba($black, 0.25);
  border-radius: 0;
  margin-bottom: 3rem;

  &-primary {
    background-color: $primary;
  }
}

.card-header {
  background-color: $white;

  &-tabs {
    margin: (-$card-spacer-y) (-$card-spacer-x);
  }
}

.card-title {
  line-height: 2.2rem;
  margin-bottom: 2rem;
}

.card-body {
  padding: 2.25rem 1.25rem;
}

.card-server-response-body {
  max-height: 400px;
  overflow-y: auto;
}

.card-chain-blocks {
  height: auto;

  @include media-breakpoint-down(md) { height: 595px; }
}
