$card-background-color: #fff !default;
$card-tab-active: $primary !default;
$card-default-border-radius: 10px !default;
$card-horizontal-padding: 30px;
$card-vertical-padding: 30px;
$card-background-1: $primary !default;
$card-background-1-text-color: #fff !default;
$card-tab-icon-color: #20b760 !default;
$card-tab-icon-color-active: #fff !default;

.card {
  background-color: $card-background-color;
  border-radius: $card-default-border-radius;
  border: none;
  box-shadow: 0 0 30px 0 rgba(202, 199, 226, 0.5);
  margin-bottom: $common-container-margin;

  .block-details-row {
    flex-direction: row;
    @include media-breakpoint-down(sm) {
      flex-direction: column;
    }

    .block-detail-el {
      & + .block-detail-el {
        @include media-breakpoint-down(sm) {
          margin-top: 6px;
        }
      }
    }
  }
}

.card-background-1 {
  background-color: $card-background-1;
  color: $card-background-1-text-color;
  a:not(.dropdown-item),
  a:not(.dropdown-item):hover {
    color: $card-background-1-text-color;
  }
}

.card-header {
  background: transparent;
  border-bottom: 1px solid $base-border-color;
  padding: $card-vertical-padding $card-horizontal-padding;

  &-tabs {
    margin: (-$card-spacer-y) (-$card-spacer-x);
  }
}

.card-title {
  font-size: 18px;
  font-weight: normal;
  line-height: 1.2rem;
  margin-bottom: 2rem;

  &.lg-card-title {
    @media (max-width: 374px) {
      font-size: 13px;
    }
  }

  &.margin-bottom-md {
    margin-bottom: 25px;
  }

  &.margin-bottom-sm {
    margin-bottom: 15px;
  }

  &.margin-bottom-xs {
    margin-bottom: 10px;
  }

  &.margin-bottom-0 {
    margin-bottom: 0;
  }

  .card-title-container & {
    line-height: 1.2;
    margin: 0;

    @include media-breakpoint-down(sm) {
      margin-bottom: 25px;
    }
  }
}

.card-subtitle {
  color: #333;
  font-size: 12px;
  font-weight: normal;
  line-height: 1.2;
  margin: 0 0 30px;

  &.margin-bottom-0 {
    margin-bottom: 0;
  }
}

.card-title-container {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: 25px $card-horizontal-padding;

  @include media-breakpoint-down(sm) {
    flex-direction: column;
  }
}

.card-title-paging {
  padding: 0px $card-horizontal-padding;
  display: flex;
  justify-content: flex-end;
  min-height: 54px;
}

.card-footer-paging {
  padding: 0px $card-horizontal-padding;
  padding-bottom: 25px;
  display: flex;
  justify-content: flex-end;
  min-height: 80px;
}

.card-title-controls {
  align-items: center;
  display: flex;
  justify-content: flex-end;

  @include media-breakpoint-down(sm) {
    flex-direction: column;
  }

  .card-title-control {
    margin-right: 20px;

    &:last-child {
      margin-right: 0;
    }

    @include media-breakpoint-down(sm) {
      margin-bottom: 20px;
      margin-right: 0;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}

.card-body {
  padding: $card-horizontal-padding;
}

.card-body-flex-column-space-between {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card-server-response-body {
  max-height: 400px;
  overflow-y: auto;
}

.card-chain-blocks {
  min-height: 233px;
  max-height: auto;
  [class*="col-"]:last-child {
    .tile {
      margin-bottom: 0;
    }
  }
}

.card-chain-transactions {
  min-height: 480px;
  max-height: auto;

  .tile {
    margin-bottom: 0;
  }
}

.card-tabs {
  align-items: center;
  border-top-left-radius: $card-default-border-radius;
  border-top-right-radius: $card-default-border-radius;
  border-bottom: 1px solid $base-border-color;
  display: flex;
  justify-content: flex-start;
  overflow: hidden;

  @include media-breakpoint-down(md) {
    flex-direction: column;
  }
}

.card-tab {
  align-items: center;
  background-color: $card-background-color;
  color: #333;
  cursor: pointer;
  display: flex;
  font-size: 14px;
  font-weight: normal;
  height: 70px;
  padding: 0 25px;
  text-align: center;
  transition: $transition-cont;

  &:hover {
    background-color: rgba($card-tab-active, .15);
    color: $card-tab-active;
    text-decoration: none;
  }

  @include media-breakpoint-down(md) {
    display: none;
    width: 100%;
  }

  .fa-check-circle {
    color: $card-tab-icon-color;
    margin-left: 6px;
  }

  &.active {
    background-color: $card-tab-active;
    color: #fff;
    cursor: default;
    text-decoration: none;

    .fa-check-circle {
      color: $card-tab-icon-color-active;
    }

    @include media-breakpoint-down(md) {
      cursor: pointer;
      display: flex;
      order: -1;

      &::after {
        border-bottom: 0;
        border-left: 0.3em solid transparent;
        border-right: 0.3em solid transparent;
        border-top: 0.3em solid;
        content: "";
        display: inline-block;
        height: 0;
        margin-left: 10px;
        width: 0;
      }

      &.noCaret::after {
        display: none;
      }
    }
  }
}

.mob-transaction {
  @include media-breakpoint-down(sm) {
    margin-left: 15px!important;
  } 
}

.implementation-container {
  margin-top: 10px;
}

.implementation-title {
  float: left;
  margin-right: 5px;
}

.implementation-value {
  line-height: 30px;
}

.connect-container {
  display: flex;
  line-height: 36px;
}

.write-contract-btn {
  padding: 6px 8px !important;
  height: 31px !important;
  font-size: 11px;
}

.contract-plus-btn-container {
  height: 31px !important;
  &:hover i {
    color: #fff !important;
  }
}

.contract-plus-btn {
  color: $primary;
  font-size: 15px;
}

.custom-power-input {
  height: 20px;
  width: 50px !important;
  margin-top: -10px !important;
}

.list-title-description {
  @media (min-width: 992px) {
    display: inline-block;
  }
}

.list-top-pagination-container-wrapper {
  @media (min-width: 992px) {
    float: right;
  }
}

.function-output {
  margin-left: -1rem;
}