.cookie-banner {
  position: fixed;
  bottom: 0;
  z-index: 120;
  width: 100%;
  background: $celo-blue;
  color: #fff;
  font-weight: 500;
  font-size: 14px;

  .cookie-banner-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 800px;
    margin: auto;
    text-align: left;
  }

  a {
    color: inherit;
    text-decoration: underline;
  }

  .cookie-banner-btns {
    display: flex;
  }

  button {
    height: 34px;
    width: 148px;
    color: inherit;
    padding: 0;
  }

  .btn-disagree {
    border: none;
    color: inherit;
    font-size: 14px;
  }

  .btn-agree {
    border: 2px solid #fff;
    border-radius: 6px;
    color: inherit;
    font-size: 14px;
  }

  @media (max-width: 599px) {
    .cookie-banner-content {
      flex-direction: column;
    }
    .cookie-banner-btns {
      margin-top: 15px;
      flex-direction: column-reverse;
    }
  }
}

