.cookie-banner {
  position: fixed;
  bottom: 0;
  z-index: 2;
  width: 100%;
  background: $celo-blue;
  color: #000;
  font-size: medium;

  .cookie-banner-text {
    max-width: 800px;
    margin: auto;
  }

  a {
    color: inherit;
    text-decoration: underline;
  }

  .btn-disagree {
    border: 1px solid rgba(0, 0, 0, 0.4);
    color: inherit;
  }

  .btn-agree {
    border: 1px solid #000;
    color: inherit;
  }
}
