/* Custom Tooltips for Block Details Page */
$tooltip-background-color: $btn-line-color !default;

.tooltipCustom {
    position: relative;
    display: inline-block;
}

.tooltipCustom .tooltiptextTopMiner {
    visibility: hidden;
    position: absolute;
    width: 100%;
    background-color: white;
    color: $tooltip-background-color;
    text-align: center;
    border-radius: 6px;
    left: 0%;
    bottom: 100%;
    padding: 15px;
    display: inline-block;
    z-index: 1;
    font-family: Nunito;
    margin-bottom: 15px;
    opacity: 0;
    transition: opacity 0.5s;
}

.tooltipCustom .tooltiptextTopMiner::after {
    content: '';
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: white transparent transparent transparent;
}

.tooltipCustom:hover .tooltiptextTopMiner {
    visibility: visible;
    opacity: 1;
}


/* Custom Tooltips for Block Details Page end*/