$dashboard-banner-gradient-start: $primary !default;
$dashboard-banner-gradient-end: lighten(
  $dashboard-banner-gradient-start,
  5%
) !default;
$dashboard-banner-network-plain-container-background-color: lighten($dashboard-banner-gradient-end, 5%)!default;
$dashboard-line-color-price: $primary !default;
$dashboard-line-color-market: $secondary !default;
$dashboard-stats-item-label-color: #fff !default;
$dashboard-stats-item-value-color: rgba(#fff, 0.8) !default;
$dashboard-banner-chart-legend-label-color: #fff !default;
$dashboard-banner-chart-legend-value-color: $dashboard-stats-item-value-color !default;
$dashboard-stats-item-border-color: $primary !default;
$dashboard-banner-network-stats-static-image: false !default;
$dashboard-banner-network-stats-static-image-height: 150px !default;
$dashboard-banner-network-plain-container-height: 205px;

.dashboard-banner-container {
  @include gradient-container();

  padding: 0;
  position: relative;

  &::after {
    background-color: $dashboard-banner-network-plain-container-background-color;
    bottom: 0;
    content: "";
    display: block;
    height: $dashboard-banner-network-plain-container-height;
    left: 70%;
    position: absolute;
    right: 0;

    @include media-breakpoint-down(sm) {
      display: none;
    }
  }
}

.dashboard-banner {
  align-items: flex-end;
  display: flex;
  justify-content: space-between;
  margin-bottom: 3rem;
  position: relative;
  z-index: 9;

  @include media-breakpoint-down(sm) {
    align-items: center;
    flex-direction: column;
  }
}

.dashboard-banner-network-graph {
  flex-grow: 1;
  padding: 15px 0 0 0;
}

.dashboard-banner-chart {
  flex-grow: 1;
  margin: 0 0 40px 0;
  max-width: 350px;
  position: relative;

  @include media-breakpoint-down(md) {
    margin: 0 0 20px 0;
    max-width: 300px;
    width: 100%;
  }

  > canvas {
    // height: 100px;
    max-height: 100%;
    max-width: 100%;
    width: 100%;
  }
}

.dashboard-banner-chart-legend {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding-bottom: 12px;

  .dashboard-banner-chart-legend-item {
    padding-bottom: 3px;
    padding-left: 12px;
    padding-top: 3px;
    position: relative;

    @include media-breakpoint-down(md) {
      display: flex;
      flex-direction: row;
    }

    &::before {
      border-radius: 2px;
      content: "";
      height: 100%;
      left: 0;
      position: absolute;
      top: 0;
      width: 4px;
    }

    &:nth-child(1)::before {
      background-color: $dashboard-line-color-price;
    }

    &:nth-child(2)::before {
      background-color: $dashboard-line-color-market;
    }
  }

  .dashboard-banner-chart-legend-label {
    color: $dashboard-banner-chart-legend-label-color;
    display: block;
    font-size: 12px;
    font-weight: 600;
    line-height: 1.2;
    margin: 0 0 5px;

    @include media-breakpoint-down(md) {
      margin: 0 5px 0 0;
    }
  }

  .dashboard-banner-chart-legend-value {
    color: $dashboard-banner-chart-legend-value-color;
    display: block;
    font-size: 12px;
    font-weight: normal;
    line-height: 1.2;
  }
}

.dashboard-banner-network-plain-container {
  align-items: center;
  background-color: $dashboard-banner-network-plain-container-background-color;
  border-top-left-radius: 10px;
  display: flex;
  height: $dashboard-banner-network-plain-container-height;
  justify-content: center;
  margin: 0 0 0 30px;
  max-width: 100%;
  padding: 30px 0 30px 30px;
  width: 750px;

  @include media-breakpoint-down(md) {
    align-items: flex-start;
    flex-direction: column;
    margin-left: 30px;
  }

  @include media-breakpoint-down(sm) {
    border-top-right-radius: 10px;
    margin: 0;
    padding: 15px 0 15px 15px;
  }
}

.dashboard-banner-network-stats {
  column-gap: 100px;
  display: grid;
  flex-shrink: 0;
  grid-template-columns: 1fr 1fr 1fr;

  @include stats-item($dashboard-stats-item-border-color, $dashboard-stats-item-label-color, $dashboard-stats-item-value-color);

  .dashboard-banner-network-stats-item {
    @include media-breakpoint-down(sm) {
      margin-bottom: 25px;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}