$dashboard-banner-gradient-start: $primary !default;
$dashboard-banner-gradient-end: lighten(
  $dashboard-banner-gradient-start,
  5%
) !default;
$dashboard-banner-network-graph-background-color: #fff !default;
$dashboard-line-color-price: $primary !default;
$dashboard-line-color-market: $secondary !default;

.dashboard-banner-container {
  @include gradient-container();

  padding: 48px 0 0 0;
  position: relative;

  &:after {
    background-color: $dashboard-banner-network-graph-background-color;
    bottom: 0;
    content: "";
    display: block;
    left: 70%;
    position: absolute;
    right: 0;
    top: 3rem;

    @include media-breakpoint-down(sm) {
      display: none;
    }
  }
}

.dashboard-banner {
  align-items: flex-end;
  display: flex;
  justify-content: space-between;
  margin-bottom: 3rem;
  position: relative;
  z-index: 9;

  @include media-breakpoint-down(sm) {
    align-items: center;
    flex-direction: column;
  }
}

.dashboard-banner-network-graph {
  align-items: center;
  background-color: $dashboard-banner-network-graph-background-color;
  border-top-left-radius: 10px;
  display: flex;
  height: 205px;
  justify-content: space-between;
  margin: 0 0 0 60px;
  max-width: 100%;
  padding: 30px 0 30px 30px;
  width: 750px;

  @include media-breakpoint-down(md) {
    align-items: flex-start;
    flex-direction: column;
    margin-left: 30px;
  }

  @include media-breakpoint-down(sm) {
    border-top-right-radius: 10px;
    margin: 0;
    padding: 15px 0 15px 15px;
  }
}

.dashboard-banner-chart {
  flex-grow: 1;
  height: 170px;
  margin: 0 50px 0 0;
  max-width: 500px;
  position: relative;

  @include media-breakpoint-down(md) {
    margin: 0 0 20px 0;
    max-width: 300px;
    width: 100%;
  }

  > canvas {
    height: 170px;
    max-height: 100%;
    max-width: 100%;
    width: 460px;
  }
}

.dashboard-banner-chart-legend {
  align-items: flex-start;
  display: flex;
  flex-direction: column;

  @include media-breakpoint-down(md) {
    flex-direction: row;
  }

  .dashboard-banner-chart-legend-item {
    padding-top: 10px;
    position: relative;

    @include media-breakpoint-down(md) {
      display: flex;
      flex-direction: row;
    }

    &::before {
      border-radius: 2px;
      content: "";
      height: 4px;
      left: 0;
      position: absolute;
      top: -4px;
      width: 20px;
    }

    &:nth-child(1) {
      margin-bottom: 30px;

      @include media-breakpoint-down(md) {
        margin-bottom: 0;
        margin-right: 30px;
      }
    }

    &:nth-child(1)::before {
      background-color: $dashboard-line-color-price;
    }

    &:nth-child(2)::before {
      background-color: $dashboard-line-color-market;
    }
  }

  .dashboard-banner-chart-legend-label {
    color: $text-muted;
    display: block;
    font-size: 12px;
    font-weight: 600;
    line-height: 1.2;
    margin: 0 0 5px;

    @include media-breakpoint-down(md) {
      margin: 0 5px 0 0;
    }
  }

  .dashboard-banner-chart-legend-value {
    color: #333;
    display: block;
    font-size: 12px;
    font-weight: normal;
    line-height: 1.2;
  }
}

.dashboard-banner-network-stats {
  column-gap: 40px;
  display: grid;
  flex-shrink: 0;
  grid-template-columns: 1fr 1fr;
  padding-bottom: 30px;
  row-gap: 45px;

  @include stats-item();
}
