.reportArea.down-scaled {
        height: 1150px !important;
        overflow: unset !important;
}

.google-data-studio {
        position: relative;
        padding-bottom: 10%;
        // padding-top: 4%;
        overflow: hidden;
}

nav#stats-navbar {
        background-color:white!important;
        color: #767676;
}

iframe#myiframe {
        height: 3340px !important;
        @media only screen and (max-width: 768px) {
                height: 960px !important;
        }
}


ul.topnav {
        list-style-type: none;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        margin: 0;
        padding: 0;
        padding-left: 5%;
        overflow: hidden;
        background-color: #FFFFFF;
}

ul.topnav li {
        -ms-flex-preferred-size: 120px;
        -ms-flex-negative: 0; 
        flex-shrink: 0; /* don't allow menu item to shrink below 120px when there isn’t enough space on the row. */
        -webkit-box-flex: 1;
        -ms-flex-positive: 1;
        flex-grow: 1; /* allow items to grow up to 150px wide if the container is big enough */
        -o-text-overflow: ellipsis;
        text-overflow: ellipsis;
}

.menuWrap {
        -webkit-box-sizing: content-box;
                box-sizing: content-box;
        overflow-x: scroll;
        overflow-y: hidden;
}

ul.topnav li a {
        display: inline-block;
        color: #2F3237;
        font-size: 18px;
        font-weight: normal;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
}

ul.topnav li.selected a {color: #00BE9C; font-weight: bold;}

ul.topnav li a:hover:not(.active) {color: #00BE9C;}

// ul.topnav li.right {float: right;}

@media only screen and (max-width: 768px) {
        ul.topnav {background-color: #2F3237; overflow-x: scroll; white-space: nowrap; -webkit-overflow-scrolling: touch; -ms-overflow-style: -ms-autohiding-scrollbar;}
        .topnav::-webkit-scrollbar {
                display: none; }
        // ul.topnav li.right, 
        ul.topnav li a { color: #ffffff; font-size: 14px}
}