.dashboard-banner-chart {
    visibility: hidden;
} 

.dashboard-banner-chart-legend {
    visibility: hidden;
}

.coinmarket-value {
    visibility: hidden;
}

.coinmarket-percentage {
    visibility: hidden;
}