.transaction {
  &__dot {
    display: inline-block;
    height: 10px;
    width: 10px;
    border-radius: 50%;
    margin-left: 5px;
    vertical-align: baseline;

    &--pending {
      background-color: $gray-500;
    }
    &--success {
      background-color: $success;
    }
    &--failed {
      background-color: $danger;
    }
    &--out_of_gas {
      background-color: $warning;
    }
  }
}
