.epoch-aggregated-tile-reward-count {
  color: #35D07F;
  cursor: pointer;

  &:hover {
    text-decoration: underline;
  }

  &.epoch-aggregated-tile-reward-count-disabled {
    color: #6c757d;
    cursor: default;
  
    &:hover {
      text-decoration: none;
    }  
  }
}

.epoch-aggregated-tile-transactions-list-hidden {
  display: none;
}

.epoch-aggregated-tile-transactions-list-items {
  list-style: none;
  padding: 12px 0 0 0;
  margin: 0;

  &.collapse, &.collapsing {
    padding-top: 0;
  }
}

.epoch-aggregated-tile-transactions-list-item-amount, 
.epoch-aggregated-tile-transactions-list-item-address {
  display: inline-block;
  padding-left: 0;
}