.external-link-icon {
    float: right;
    margin-top: -1px;
  
    & {
      &.active,
      &:hover,
      &:focus {
        path {
          fill: $header-icon-color-hover;
        }
      }
    }
}


.external-token-icon {
    path {
        fill: $header-icon-color-hover;
    }
}