$footer-background-color: $secondary !default;
$footer-title-color: #fff !default;
$footer-text-color: rgba(#fff, 0.7) !default;
$footer-link-color: $footer-text-color !default;
$footer-item-disc-color: $primary !default;
$footer-social-icon-color: $footer-text-color !default;
$footer-logo-height: 28px !default;
$footer-logo-width: auto !default;

.footer {
  background: #091312;
  color: #6E767D;
  font-size: 12px;
  line-height: 1.67;
  margin: 0;
  padding: 40px 0;
  position: relative;

  @media (max-width: $breakpoint-md) {
    width: 100%;
  }
  .foot-left-description-container{
    display:flex;
    border: 1px solid rgba(255, 255, 255, 0.15);
    border-radius: 12px;
    padding:18px;
    width:480px;
    margin-right:80px;
    @media (max-width: 992px) {
      margin-right: 0;
    }
    @media (max-width: 1200px) {
      margin-bottom: 20px;
    }
  }
  .row {
    margin: 0;
    align-items: flex-start;
  }
}

.footer-logo-row {
  margin-bottom: 30px;
}

.footer-logo {
  max-height: $footer-logo-height;
  width: $footer-logo-width;
}

.footer-info-text {
  margin: 0 0 25px;
  padding: 0 20px 0 0;
}

.footer-social-icons {
  align-items: center;
  display: flex;
  margin: 0 0 25px;
}

.footer-social-icon {
  color: $footer-social-icon-color;
  font-size: 22px;
  margin-right: 15px;
  text-decoration: none;
  transition: $transition-cont;

  &:hover {
    color: #fff;
  }

  &:focus {
    color: darken($footer-text-color, 5);
  }

  &:last-child {
    margin-right: 0;
  }
}

.footer-link {
  color: #fff;

  &:hover {
    color: $footer-link-color;
    text-decoration: underline;
  }
}

.footer-list {
  padding-top: 0;

  h3 {
    color: $footer-title-color;
    font-size: 14px;
    font-weight: 300;
    line-height: 1.4;
    margin: 0 0 15px;
  }

  ul {
    list-style-type: none;
    margin: 0 0 25px;
    padding: 0;

    li {
      align-items: center;
      display: flex;
      line-height: 2.5;
      padding: 0;

      a {
        transition: $transition-cont;
        &:hover {
          text-decoration: none;
          color: #fff;
        }
        &:focus {
          color: darken($footer-text-color, 5);
        }
      }

      &::before {
        background-color: $footer-item-disc-color;
        border-radius: 50%;
        content: "";
        display: block;
        height: 6px;
        margin: 0 10px 0 0;
        width: 6px;
      }
    }
  }
}

.footer-brand {
  text-decoration: none !important;
}
