$footer-background-color: $secondary !default;
$footer-padding: 1em !default;
$footer-text-color: rgba(#fff, 0.7) !default;

.footer {
  background: $footer-background-color;
  color: $footer-text-color;
  font-size: 12px;
  margin: 0;
  padding: $footer-padding;
  position: relative;

  @media (max-width: $breakpoint-md) {
    width: 100%;
  }
}

.footer-logo {
  height: 2rem;
}

.footer-social-icons {
  // float: right;
  padding-top: 0.5em;
}

.footer-info {
  padding-top: 1em;
}

.footer-link {
  color: inherit;
}

.footer-link:hover {
  color: white;
}

.footer-list {
  padding-top: 1em;

  h3 {
    margin-bottom: 0;
    // text-align: center;
  }

  hr {
    margin-top: 0;
    margin-bottom: 1em;
    border: 0;
    height: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  }

  ul {
    list-style-type: none;
    padding-left: 0;
    margin-left: 0;

    li {
      padding-bottom: 0.5em;
    }
  }
}
