$footer-background-color: $secondary !default;
$footer-title-color: #fff !default;
$footer-text-color: rgba(#fff, 0.7) !default;
$footer-item-disc-color: $primary !default;

.footer {
  background: $footer-background-color;
  color: $footer-text-color;
  font-size: 12px;
  line-height: 1.67;
  margin: 0;
  padding: 40px 0;
  position: relative;

  @media (max-width: $breakpoint-md) {
    width: 100%;
  }
}

.footer-logo-row {
  margin-bottom: 30px;
}

.footer-logo {
  height: 2rem;
}

.footer-info-text {
  margin: 0 0 25px;
  padding: 0 20px 0 0;
}

.footer-social-icons {
  padding-top: 0.5em;
}

.footer-info {
  padding-top: 1em;
}

.footer-link {
  color: $footer-text-color;

  &:hover {
    color: $footer-text-color;
    text-decoration: underline;
  }
}

.footer-list {
  padding-top: 0;

  h3 {
    color: $footer-title-color;
    font-size: 14px;
    font-weight: 300;
    line-height: 1.4;
    margin: 0 0 15px;
  }

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;

    li {
      align-items: center;
      display: flex;
      line-height: 2.5;
      padding: 0;

      &::before {
        background-color: $footer-item-disc-color;
        border-radius: 50%;
        content: "";
        display: block;
        height: 6px;
        margin: 0 10px 0 0;
        width: 6px;
      }
    }
  }
}
