$form-control-border-color: #e2e5ec !default;

.form-control {
    border-color: $form-control-border-color;
    border-radius: 0;
    font-size: 14px;

    &.n-b-r {
        border-right: none;
    }
}

.form-p {
    color: #a3a9b5;
    font-size: 12px;
    font-weight: normal;
    line-height: 1.8;

    .text-dark {
        color: #333;
    }

    &.m-b-0 {
        margin-bottom: 0;
    }
}

.input-group-prepend.last {
    .input-group-text {
        background: none;
        border-color: $form-control-border-color;
        border-left: none;
        color: #a3a9b5;
        font-size: 14px;
    }
}