.icon-links {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.icon-link {
  align-items: center;
  background-color: $gray-200;
  border-radius: 50%;
  border: none;
  color: $text-muted;
  cursor: pointer;
  display: inline-flex;
  height: 2rem;
  justify-content: center;
  margin: 0 0.25rem;
  transition: all 0.1s ease;
  width: 2rem;

  &:hover {
    background-color: darken($primary, 20%);
    color: $white;
    text-decoration: none;
  }

  &.icon-link-primary {
    color: $footer-text-color;
    background-color: rgba($white, 0.25);

    &:hover {
      background-color: $white;
      color: $primary;
    }
  }
}

.tenderly-icon {
  content: url("../static/images/icons/logo_tenderly.svg");
  height: 14px;
  width: 14px;
  cursor: pointer;
  margin-top: -3px;
}