/* ERC721 media block */
.inventory-erc721-media {
    display: flex;
    justify-content: center;
    max-height: 50px;
}

 .inventory-erc721-media img {
    height: 50px;
}
/* ERC721 media block end */
