.bs-label {
    display: inline-block;
    padding: 0 5px;
    background: #f5f6fa;
    color: #a3a9b5;
    border-radius: 5px;
    font-size: 12px;
    height: 25px;
    line-height: 25px;
    &.right {
        margin-left: auto;
        float: right;
    }
    &.omni {
        background: #6ca1e2;
        color: #fff;
    }
    &.amb {
        background: $secondary;
        color: #fff;
    }
    &.destination-eth {
        background: #253358;
        color: #fff;
    }
    &.destination-bsc {
        background: #e7b941;
        color: #fff;
    }
    &.bridged {
        background: #70aee3;
        color: #fff;
    }
    &.validator {
        background: $primary;
        color: #fff;
    }
    &.secondary {
        background: $secondary;
        color: #fff;
    }
    &.from-dropdown {
        margin-top: -3px;
    }
    &.success {
        background: rgba(40, 167, 69, 0.2);
        color: rgb(40, 167, 69);
    }
}