.bs-label {
    display: inline-block;
    padding: 0 5px;
    background: #f5f6fa;
    color: #a3a9b5;
    border-radius: 5px;
    font-size: 10px;
    height: 25px;
    line-height: 25px;
    &.right {
        margin-left: auto;
        float: right;
    }
    &.omni {
        background: $primary;
        color: #fff;
    }
    &.amb {
        background: $secondary;
        color: #fff;
    }
    &.destination-eth {
        background: #253358;
        color: #fff;
    }
    &.destination-bsc {
        background: #e7b941;
        color: #fff;
    }
    &.bridge {
        background: #70aee3;
        color: #fff;
    }
    &.validator {
        background: $primary;
        color: #fff;
    }
    &.faucet {
        background: #2555da;
        color: #fff;
    }
    &.contract {
        background: $dark-purple;
        color: #fff;
    }
    &.eoa {
        background: #007bff;
        color: #fff;
    }
    &.proxy {
        background: #2a9e51;
        color: #fff;
    }
    &.token {
        background: #5d26c4;
        color: #fff;
    }
    &.secondary {
        background: $secondary;
        color: #fff;
    }
    &.from-dropdown {
        margin-top: -3px;
    }
}