.bs-label {
    display: inline-block;
    padding: 5px;
    background: #f5f6fa;
    color: #a3a9b5;
    border-radius: 5px;
    font-size: 10px;
    &.right {
        margin-left: auto;
        float: right;
    }
    &.omni {
        background: $primary;
        color: #fff;
    }
    &.amb {
        background: $secondary;
        color: #fff;
    }
    &.destination-eth {
        background: #253358;
        color: #fff;
    }
    &.destination-bsc {
        background: #e7b941;
        color: #fff;
    }
    &.secondary {
        background: $secondary;
        color: #fff;
    }
    &.from-dropdown {
        margin-top: -3px;
    }
}