.bs-label {
    display: inline-block;
    padding: 0 5px;
    background: #f5f6fa;
    color: #77838f;
    border-radius: 5px;
    &.large {
        font-size: 14px;
    }
    font-size: 12px;
    padding: 5px;
    line-height: normal;

    &.right {
        margin-left: auto;
        float: right;
    }
    &.omni {
        background: #6ca1e2;
        color: #fff;
    }
    &.amb {
        background: #458650;
        color: #fff;
    }
    &.amb-ext {
        background: #458650;
        color: #fff;
    }
    &.test {
        background: rgb(219, 79, 79);
        color: #fff;
    }
    &.destination-eth {
        background: #253358;
        color: #fff;
    }
    &.destination-bsc {
        background: #e7b941;
        color: #fff;
    }
    &.destination-rinkeby {
        background: #153550;
        color: #fff;
    }
    &.bridge {
        background: #70aee3;
        color: #fff;
    }
    &.validator {
        background: $primary;
        color: #fff;
    }
    &.faucet {
        background: #2555da;
        color: #fff;
    }
    &.contract {
        background: $dark-purple;
        color: #fff;
    }
    &.eoa {
        background: #007bff;
        color: #fff;
    }
    &.proxy {
        background: #2a9e51;
        color: #fff;
    }
    &.token {
        background: #5d26c4;
        color: #fff;
    }
    &.token-type {
        background: #75066c;
        color: #fff;
    }
    &.random {
        background: #db5959;
        color: #fff;
    }
    &.df {
        background: #75f94d;
        color: #080808;
    }
    &.perp-fi {
        background: #050505;
        color: #77e6af;
    }
    &.hopr {
        background: #fffdab;
        color: #414141;
    }
    &.gtgs {
        background: #6c2dc3;
        color: #fff;
    }
    &.chainlink-oracle {
        background: #3960cb;
        color: #fff;
    }
    &.secondary {
        background: $secondary;
        color: #fff;
    }
    &.method {
        color: #1e2022;
    }
    &.from-dropdown {
        margin-top: -3px;
    }
    &.success {
        background: rgba(40, 167, 69, 0.2);
        color: rgb(40, 167, 69);
    }
    &.spam {
        background: #380000;
        color: #fff;
    }
}

.confirmations-label {
    position: relative;
    padding-left: 1.15rem;
    border-top-right-radius: .25rem;
    border-bottom-right-radius: .25rem;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    padding-right: 10px;
}

.confirmations-label:after {
    position: absolute;
    left: 0;
    top: 0;
    content: "";
    border-top: .8rem solid transparent;
    border-bottom: .8rem solid transparent;
    border-left: .8rem solid #fff;
 }