.bs-label {
    display: inline-block;
    padding: 0 5px;
    background: #f5f6fa;
    color: #77838f;
    border-radius: 5px;
    font-size: 12px;
    height: 25px;
    line-height: 25px;
    &.right {
        margin-left: auto;
        float: right;
    }
    &.omni {
        background: #6ca1e2;
        color: #fff;
    }
    &.amb {
        background: $secondary;
        color: #fff;
    }
    &.destination-eth {
        background: #253358;
        color: #fff;
    }
    &.destination-bsc {
        background: #e7b941;
        color: #fff;
    }
    &.bridged {
        background: #70aee3;
        color: #fff;
    }
    &.validator {
        background: $primary;
        color: #fff;
    }
    &.secondary {
        background: $secondary;
        color: #fff;
    }
    &.from-dropdown {
        margin-top: -3px;
    }
    &.success {
        background: rgba(40, 167, 69, 0.2);
        color: rgb(40, 167, 69);
    }
}

.confirmations-label {
    position: relative;
    padding-left: 1.15rem;
    border-top-right-radius: .25rem;
    border-bottom-right-radius: .25rem;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.confirmations-label:after {
    position: absolute;
    left: 0;
    top: 0;
    content: "";
    border-top: .7rem solid transparent;
    border-bottom: .7rem solid transparent;
    border-left: .7rem solid #fff;
 }