$modal-status-graph-error: #ff0d51 !default;
$modal-status-graph-warning: #ff8502 !default;
$modal-status-graph-success: $primary !default;
$modal-status-graph-question: #329ae9 !default;

.modal-status {
  max-width: 100%;
  width: 300px;

  @include media-breakpoint-down(sm) {
    margin-left: auto;
    margin-right: auto;
  }
}

.modal-status-graph {
  align-items: center;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  display: flex;
  height: 135px;
  justify-content: center;

  &-error {
    background-color: $modal-status-graph-error;
  }

  &-warning {
    background-color: $modal-status-graph-warning;
  }

  &-success {
    background-color: $modal-status-graph-success;
  }

  &-question {
    background-color: $modal-status-graph-question;
  }

  svg {
    margin-top: 15px;
  }
}

.modal-status-body {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: #{$modal-vertical-padding} #{$modal-horizontal-padding};
}

.modal-status-title {
  color: #333;
  font-size: 18px;
  font-weight: normal;
  line-height: 1.2;
  margin: 0 0 15px;
  text-align: center;
}

.modal-status-text {
  color: #a3a9b5;
  font-size: 12px;
  font-weight: normal;
  line-height: 1.5;
  margin: 0 0 25px;
  text-align: center;

  &.m-b-0 {
    margin-bottom: 0;
  }

  .link-helptip {
    border-bottom-width: 1px;
    border-bottom-style: dotted;
    cursor: help;
    text-decoration: none;
  }
}

.modal-status-button-wrapper {
  display: flex;
  justify-content: space-between;
  width: 100%;

  .btn-line {
    flex-grow: 1;
    margin-right: 20px;
    border-color: $primary;
    color: $primary;

    &:hover {
      background-color: $primary;
      color: $additional-font;
    }

    &:last-child {
      margin-right: 0;
    }
  }
}