.navbar {
    position: relative;
    z-index: 100;

    &-primary {
        background-color: $primary;
    }
}

.navbar-collapse.collapsing,
.navbar-collapse.collapse.show {
    display: flex;
    flex-direction: column;

    .search-form {
        align-items: center;
        order: -1;
        width: 100%;

        form {
            flex-grow: 1;
        }
    }
    .input-group {
        width: 100%;
    }
    .navbar-nav {
        white-space: nowrap;
    }
}

.navbar-brand {
    margin-left: 0;
}

.navbar-logo {
    height: 1.5em;
}

@include media-breakpoint-up(md) {
    .navbar-expand-lg .navbar-nav .nav-link {
        padding-left: 0.71rem;
        padding-right: 0.71rem;
    }
}

.navbar {
    .nav-item {
        font-size: 14px;
    }
}

.navbar-dark {
    .navbar-nav {
        .nav-link {
            color: $white;
        }
    }
}

.navbar-nav {
    .nav-link {
        align-items: center;
        display: flex;
        font-size: 14px;
    }
}

.nav-link-icon {
    align-items: center;
    display: flex;
    margin-right: 0.71em;
    position: relative;
    top: -1px;

    path {
        fill: $secondary;
    }

    &.m-r-0 {
      margin-right: 0;
    }
}

.navbar {
    .search-form {
        display: flex;
    }
}

.navbar {
    .search-form {
      @include media-breakpoint-up(xl) {
        height: 57px;
        margin-bottom: -8px;
        margin-top: -8px;
      }
    }

    .form-inline {
      height: 100%;
    }

    .input-group {
      height: 100%;
      position: relative;
    }

    .form-control {
        background: #f5f6fa;
        border-color: #f5f6fa;
        color: #a3a9b5;
        font-size: 14px;
        height: 100%;
        padding-left: 38px;
        padding-right: 8px;
        position: relative;
        width: 100%;
        z-index: 1;

        &::-webkit-input-placeholder {
            /* Chrome/Opera/Safari */
            color: #a3a9b5;
        }
        &::-moz-placeholder {
            /* Firefox 19+ */
            color: #a3a9b5;
        }
        &:-ms-input-placeholder {
            /* IE 10+ */
            color: #a3a9b5;
        }
        &:-moz-placeholder {
            /* Firefox 18- */
            color: #a3a9b5;
        }
        &:focus {
            box-shadow: none;
        }

        @include media-breakpoint-up(xl) {
            width: 280px;
        }
    }

    .input-group-append {
        height: 38px;
        left: 0;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        width: 38px;
        z-index: 5;

        path {
            fill: #a3a9b5;
        }
    }

    .input-group-text {
      align-items: center;
      background: none;
      border-color: transparent;
      display: flex;
      height: 100%;
      justify-content: center;
      padding: 0;
      width: 100%;
  }
}

.topnav-nav-link {
    color: $white;
    position: relative;

    &:before {
        background-color: $secondary;
        border-radius: 0 0 4px 4px;
        top: -10px;
        content: "";
        display: block;
        height: 0.25rem;
        left: 50%;
        opacity: 0;
        position: absolute;
        transform: translateX(-50%);
        transition: all 0.2s ease;
        width: 75%;
    }
}

@include media-breakpoint-up(lg) {
    .topnav-nav-link {
        &:hover {
            &:before {
                opacity: 1;
            }
        }
    }
}