.navbar {
  position: relative;
  z-index: 100;

  &-primary {
    background-color: $primary;
  }
}

.navbar-collapse.collapsing,
.navbar-collapse.collapse.show {
  display: flex;
  flex-direction: column;

  .search-form {
    order: -1;
    width: 100%;
    align-items: center;

    form {
      flex-grow: 1;
    }
  }

  .input-group {
    width: 100%;
  }

  .navbar-nav {
    white-space: nowrap;
  }
}

.navbar-brand {
  margin-left: 0;
}

.navbar-logo {
  height: 1.5em;
}

@include media-breakpoint-up(md) {
  .navbar-expand-lg .navbar-nav .nav-link {
    padding-left: 0.75rem;
    padding-right: 0.75rem;
  }
}

.navbar .nav-item {
  font-size: 14px;
}

.navbar-dark .navbar-nav .nav-link {
  color: $white;
}

.navbar-nav .nav-link {
  display: flex;
  align-items: center;
}

.nav-link-icon {
  display: flex;
  align-items: center;
  position: relative;
  top: -1px;
  margin-right: 0.5em;

  path {
    fill: $secondary;
  }
}

.navbar .search-form {
  display: flex;
}

.navbar .form-control {
  background: transparent;
  width: auto;
  font-size: 12px;
  border-right: none;
  color: $white;
  border-color: transparentize($white, 0.30);
  padding-right: 0px;


  &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: transparentize($white, 0.5);
  }
  &::-moz-placeholder { /* Firefox 19+ */
    color: transparentize($white, 0.5);
  }
  &:-ms-input-placeholder { /* IE 10+ */
    color: transparentize($white, 0.5);
  }
  &:-moz-placeholder { /* Firefox 18- */
    color: transparentize($white, 0.5);
  }

  &:focus {
    box-shadow: none;
  }

  @include media-breakpoint-up(xl) {
    width: calc(41ch + #{$input-padding-x});
  }
}

.navbar .input-group-text {
  background: none;
  border-left: none;
  border-color: transparentize($white, 0.30);
}

.input-group-append {
  margin-left: 0px;

  path {
    fill: $secondary;
  }
}

.topnav-nav-link {
  position: relative;
  color: $white;

  &:before {
    content: "";
    position: absolute;
    display: block;
    bottom: -10px;
    left: 50%;
    width: 75%;
    height: 0.2rem;
    background-color: $secondary;
    border-radius: 4px 4px 0 0;
    opacity: 0;
    transform: translateX(-50%);
    transition: all 0.2s ease;
  }

  &:hover {
    &:before{
      opacity: 1;
    }
  }
}

.dropdown-menu {
  padding: 0px;
}

.dropdown-item {
  padding: 10px 20px;
  font-size: 12px;

  &:hover {
    background-color: $tertiary;
    color: $white;
  }
}
