.navbar {
  position: relative;
  z-index: 100;

  &-primary {
    background-color: $primary;
  }
}

.navbar-primary {
  background-color: #fff !important;
  padding: 0;

  &.navbar-dark .navbar-nav .nav-link {
    color: #4a4a4a;

    &:hover,
    &:focus {
      color: #4a4a4a;
    }
  }

  .form-control {
    color: $secondary;
    border-color: transparentize($secondary, 0.30);

    &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
      color: transparentize($secondary, 0.5);
    }
    &::-moz-placeholder { /* Firefox 19+ */
      color: transparentize($secondary, 0.5);
    }
    &:-ms-input-placeholder { /* IE 10+ */
      color: transparentize($secondary, 0.5);
    }
    &:-moz-placeholder { /* Firefox 18- */
      color: transparentize($secondary, 0.5);
    }
  }

  .input-group-text {
    border-color: transparentize($secondary, 0.30);
  }
  .container{
    padding: 16px 0;
    @media (max-width: 768px) {
      padding: 14px 20px;
    }
  }
}

.navbar-collapse.collapsing,
.navbar-collapse.collapse.show {
  display: flex;
  flex-direction: column;

  .search-form {
    order: -1;
    width: 100%;
    align-items: center;

    form {
      flex-grow: 1;
    }
  }

  .input-group {
    width: 100%;
  }

  .navbar-nav {
    white-space: nowrap;
  }
}

.navbar-brand {
  margin-left: 0;
}

.navbar-logo {
  height: 1.5em;
}

@include media-breakpoint-up(md) {
  .navbar-expand-lg .navbar-nav .nav-link {
    padding-left: 0.75rem;
    padding-right: 0.75rem;
  }
}

.navbar .nav-item {
  font-size: 14px;
}

.navbar-dark .navbar-nav .nav-link {
  color: $white;
}

.navbar-nav .nav-link {
  display: flex;
  align-items: center;
}

.nav-link-icon {
  display: flex;
  align-items: center;
  position: relative;
  top: -1px;
  margin-right: 8px;
  width: 12px;
  path {
    fill: #4a4a4a;
  }
}

.navbar .search-form {
  display: flex;
}

.navbar .form-control {
  font-size: 12px;
  border: 0;
  color: #d2d2d2;
  padding-right: 0px;
  width: 340px;
  border-radius: 14px;
  background-color: #f5f7f8;

  &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: #d2d2d2;
  }
  &::-moz-placeholder { /* Firefox 19+ */
    color: #d2d2d2;
  }
  &:-ms-input-placeholder { /* IE 10+ */
    color: #d2d2d2;
  }
  &:-moz-placeholder { /* Firefox 18- */
    color: #d2d2d2;
  }

  &:focus {
    box-shadow: none;
  }
}

.navbar .input-group-text {
  background: none;
  border-left: none;
  border-color: transparentize($white, 0.30);
}

.input-group-append {
  margin-left: 0px;

  path {
    fill: $secondary;
  }
}

.topnav-nav-link {
  position: relative;
  color: $white;

  &:before {
    content: "";
    position: absolute;
    display: block;
    bottom: -5px;
    left: 50%;
    width: 75%;
    height: 2px;
    background-color: #4a4a4a;
    opacity: 0;
    transform: translateX(-50%);
    transition: all 0.2s ease;
  }
}

@include media-breakpoint-up(lg) {
  .topnav-nav-link:hover:before {
    opacity: 1;
  }
}

.dropdown-menu {
  padding: 0px;
}

.dropdown-item {
  padding: 10px 20px;
  font-size: 12px;

  &:hover {
    background-color: $tertiary;
    color: $white;
  }
}
.navbar-primary{
    .container{
        a{
          padding: 0;
            h1{
              color: #393e48;
              font-size: 16px;
              line-height: 1.31;
              margin: 0 !important;
              font-weight: 400;
            }
        }
    }
}

.navSearchBar{
  position: relative;
  margin-right: 48px;
  @media (max-width: 768px) {
    width: 100%;
    margin-right: 0;
    margin-top: 16px;
  }
  input{
    width: 340px;
    border-radius: 14px;
    background-color: #f5f7f8;
    font-size: 12px;
    line-height: 1.33;
    color: #d2d2d2;
    padding: 7px 37px 5px 16px;
    border: 0;
    @media (max-width: 768px) {
      width: 100%;
    }
  }
  .navSearchBarIcon{
    i{
      color: #959595;
      position: absolute;
      top: 8px;
      bottom: 0;
      right: 16px;
      content: '';
      margin: auto;
    }
  }
}

.CopyRightTxttop{
  @media (max-width: 768px) {
    display: none;
  }
}

.CopyRightTxtbottom{
  @media (max-width: 768px) {
    display: block;
    margin-top: 20px;
    border-top: 1px solid #fff;
    padding-top: 16px;
  }
}

.navbar-dark .navbar-toggler{
  @media (max-width: 768px) {
    color: #4a4a4a;
    border: 0;
    padding: 0;
    outline: none;
    span{
      i{
        font-size: medium;
      }
    }
  }
}