.nav-tabs {

  .nav-link {
    padding: 1.25rem 3rem;
    color: $text-muted;
    font-size: 14px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;

    &:hover {
      color: var(--primary);
    }

    &.active {
      color: $white;
      background-color: var(--primary);
      border-color: var(--primary);
    }

    &:hover {
      border-color: transparent;
    }
  }
}

.nav-tabs .nav-item.show .nav-link {
  color: $white;
  background-color: var(--primary);
  border-color: var(--primary);
}

.api-doc-tab {
  padding-bottom: 5px;
  color: var(--primary) !important;
  background-color: transparent !important;
}

.api-doc-tab.active {
  border-bottom: 1px solid var(--primary);
}
