$radio-color: $primary !default;
$radio-dimensions: 20px !default;

.radio {
  align-items: center;
  display: flex;
  position: relative;

  input[type="radio"] {
    height: 100%;
    opacity: 0;
    position: absolute;
    width: 100%;
    z-index: 5;

    &:checked + .radio-icon::before {
      background-color: $radio-color;
      border-radius: 50%;
      content: "";
      height: 12px;
      left: 50%;
      position: absolute;
      top: 50%;
      transform: translateX(-50%) translateY(-50%);
      width: 12px;
    }
  }

  .radio-icon {
    border: 1px solid $base-border-color;
    border-radius: 50%;
    flex-grow: 0;
    flex-shrink: 0;
    height: $radio-dimensions;
    margin: 0 10px 0 0;
    position: relative;
    width: $radio-dimensions;
    z-index: 1;
  }

  .radio-text {
    font-size: 14px;
    font-weight: normal;
    line-height: 1.2;
    position: relative;
    white-space: nowrap;
    z-index: 1;
  }
}
