.mobile-search-show {
    @media screen and (max-width: 992px) {
        width: 100%;
    }
    @media screen and (min-width: 992px) {
        display: none !important;
    }
}

.mobile-search-hide {
    @media screen and (max-width: 992px) {
        display: none !important;
    }
}

.search-control {
    @media screen and (min-width: 992px) {
        height: 50px !important;
    }
    @media screen and (max-width: 992px) {
        height: 33px !important;
    }
}

.autoComplete_wrapper {
    width: 100% !important;
}

.main-search-autocomplete {
    width: 100% !important;
    padding: 0 !important;
    border: none !important;
    border-radius: 0 !important;
    background-color: #f5f6fa !important;
    @media screen and (max-width: 992px) {
        height: auto !important;
    }
}

.main-search-autocomplete, .main-search-autocomplete-mobile {
    font-size: 14px !important;
    color: #828ba0 !important;
}

.autocomplete-category {
    display: flex;
    align-items: center;
    font-size: 13px;
    font-weight: 100;
    text-transform: uppercase;
    color: rgb(33,33,33);
    margin-left: auto;
}

.autoComplete_highlight {
    background-color: #feff54 !important;
    color: #212121 !important;
}

ul[id^='autoComplete_list_'] {
    margin-left: -39px !important;
    border-radius: 0px !important;
    padding: 5px !important;
}

li[id^='autoComplete_result_'] {
    font-size: 12px !important;
    border-radius: 0 !important;
}