$stakes-btn-remove-pool-color: $primary !default;

.stakes-btn-remove-pool {
  align-items: center;
  color: $stakes-btn-remove-pool-color;
  cursor: pointer;
  display: flex;
  font-size: 12px;
  font-weight: 600;
  height: 36px;
  justify-content: center;
  text-align: center;

  svg {
    margin-right: 10px;
  }

  path {
    fill: $stakes-btn-remove-pool-color;
  }
}
