$stakes-table-th-background: #f5f6fa !default;
$stakes-table-cell-separation: 25px !default;

.stakes-table-container {
    max-width: 100%;
    overflow-x: auto;
    width: 100%;
}

.stakes-table {
    min-width: fit-content;
    width: 100%;
}

.stakes-table-th {
    background-color: $stakes-table-th-background;
    color: #a3a9b5;
    font-size: 14px;
    font-weight: bold;
    line-height: 1.2;
    text-align: left;

    &:first-child {
        min-width: 15px;
    }
}

.stakes-table-th-content {
    align-items: center;
    display: flex;
    justify-content: flex-start;
    padding: 21px $stakes-table-cell-separation 21px 0;
    position: relative;
    z-index: 0;
}

.stakes-th-text {
    margin-right: 10px;
    white-space: nowrap;
}

.stakes-td {
    border-bottom: 1px solid #f5f6fa;
    font-size: 14px;
    font-weight: normal;
    height: 60px;
    line-height: 1.2;
    padding-right: $stakes-table-cell-separation;
    text-align: left;
    vertical-align: middle;
    white-space: nowrap;

    &:last-child {
        padding-right: 0;
    }

    .stakes-tr-banned & {
        background-color: $stakes-banned-background;
        color: $stakes-banned-color;
    }
}

.stakes-td-order {
    min-width: 50px;
    padding-left: 30px;
    text-align: left;
}

.stakes-td-link-style {
    color: $primary;

    .stakes-tr-banned & {
        color: $stakes-banned-color;
    }
}