$stakes-dashboard-copy-icon-color: $copy-icon-color !default;

.stakes-top {
    @include gradient-container();

    margin-bottom: 3rem;
    padding: 50px 0;
}

.stakes-top-stats {
    @include stats-item();

    display: flex;
    justify-content: space-between;

    @include media-breakpoint-down(md) {
        flex-direction: column;
    }

    .stakes-top-stats-value {
        display: flex;
    }

    .copy-icon {
        path {
            fill: $stakes-dashboard-copy-icon-color;
        }
    }
}