.tenderly-icon {
    content: url("/images/icons/logo_tenderly.svg");
    height: 14px;
    width: 14px;
    cursor: pointer;
    margin-top: -3px;
    @include media-breakpoint-down(sm) {
      margin-left: 15px;
    }
  }
  
.tenderly-link {
    display: none;
    @include media-breakpoint-up(sm) {
      display: inline;
    }
    &.mobile {
      display: none;
      @include media-breakpoint-down(sm) {
        display: inline;
      }
    }
}
  