.token-tile-view-more {
  align-items: center;
  display: flex;
  justify-content: space-between;
  line-height: 1.2;
  padding-top: 10px;
  text-align: center;
  padding-left: 5px;
  margin-bottom: 10px;

  a {
    text-decoration: none;
  }

  &:before,
  &:after {
    border-bottom: 1px solid $border-color;
    border-top: 1px solid $border-color;
    content: "";
    height: 4px;
    flex-grow: 1;

    @include media-breakpoint-down(md) {
    }

    @include media-breakpoint-down(sm) {
    }
  }

  &:before {
    margin-right: 10px;

    @include media-breakpoint-down(md) {
    }

    @include media-breakpoint-down(sm) {
    }
  }

  &:after {
    margin-left: 10px;

    @include media-breakpoint-down(md) {
    }

    @include media-breakpoint-down(sm) {
    }
  }
}
