@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700');
// font-family: 'Roboto', sans-serif;
*{font-family: 'Roboto', sans-serif;}
.transactionContainer{
    padding: 0;
    .blockscoutCard{  
        border-radius: 4px;
        background-color: #ffffff;
        padding: 30px 40px 28px;
        margin-bottom: 30px;
        @media (max-width: 768px) {
            padding: 20px;
        }
        .blockscoutHeader{
            .blockscoutHeaderInner{
                position: relative;
                margin-bottom: 19px;
                display: flex;
                justify-content: space-between;
                @media (max-width: 768px) {
                    margin-bottom: 27px;
                }
                h2{
                    color: #4a4a4a;
                    font-size: 20px;
                    font-weight: 500;
                    line-height: 1.3;
                    text-align: left;
                    margin: 0;
                    &::before{
                        width: 4px;
                        height: 23px;
                        background-color: #81a0b8;
                        position: absolute;
                        top: 0;
                        bottom: 0;
                        left: -40px;
                        content: '';
                        margin: auto;
                        @media (max-width: 768px) {
                            left: -20px;
                        }
                    }
                }
                span{
                    color: #004bc4;
                    cursor: pointer;
                    i{
                        font-size: 14px;
                        margin-left: 6px;
                    }
                }
            }
        }
        .transactionDetails{
            display: flex;
            margin-bottom: 29px;
            @media (max-width: 768px) {
                display: block;
            }
            .transactionDetailsContentLeft{
                width: 420px;
                @media (max-width: 768px) {
                    width: 100%;
                }
                .transactionDetailsAttested{
                    margin-bottom: 29px;
                    h3{
                        font-size: 14px;
                        font-weight: 500; 
                        line-height: 1.43;
                        text-align: left;
                        color: #4a4a4a;
                        margin: 0;
                    }
                }
                .transactionDetailsType_Stamp{
                    display: flex;
                    @media (max-width: 768px) {
                        display: block;
                        margin-bottom: 18px;
                    }
                    .transactionDetailsType_StampInner{
                        h5{
                            font-size: 12px;
                            font-weight: 500;
                            line-height: 1.33;
                            text-align: left;
                            color: #4a4a4a;
                            margin-bottom: 4px;
                        }
                        p{
                            font-size: 12px;
                            line-height: 1.33;
                            text-align: left;
                            color: #808080;
                            margin: 0;
                            @media (max-width: 768px) {
                                margin-bottom: 8px;
                            }
                        }
                    }
                    .type_StampInnerValues{
                        margin-left: 64px;
                        @media (max-width: 768px) {
                            margin-left: 0;
                        }
                    }
                }
            }
            .transactionDetailsContentRight{
                margin-left: 60px;
                display: flex;
                @media (max-width: 768px) {
                    display: block;
                    margin-left: 0;
                }
                .attestorVerifierParent{
                    .attestorVerifier{
                        display: flex;
                        @media (max-width: 768px) {
                            margin-bottom: 18px;
                        }
                        .attestorVerifierAvatar{
                            width: 60px;
                            margin-right: 10px;
                            img{
                                width: 60px;
                                height: 60px;
                                margin-bottom: 6px; 
                            }
                            h6{
                                font-size: 12px;
                                font-weight: 500;
                                line-height: 1.33;
                                text-align: center;
                                color: #808080;
                                margin: 0;
                            }
                        }
                        .attestorVerifierDetails{
                            h3{
                                font-size: 14px;
                                font-weight: 500;
                                line-height: 20px;
                                text-align: left;
                                color: #393e48;
                                margin: 0;
                            }
                            h4{
                                font-size: 12px;
                                font-weight: 500;
                                line-height: 1.75;
                                text-align: left;
                                color: #4a4a4a;
                                margin: 0;
                            }
                            p{
                                font-size: 12px;
                                font-weight: normal;
                                line-height: 1.33;
                                text-align: left;
                                color: #808080;
                                margin: 0;
                            }
                        }
                    }
                }
                .attestorVerifierLastparent{
                    margin-left: 60px;
                    @media (max-width: 768px) {
                        margin-left: 0; 
                    }
                }
            }
        }
        .transactionValues{
            border-top: 1px solid #f5f7f8;
            padding-top: 29px;
            display: flex;
            .transactionlabel{
                p{
                    font-size: 12px;
                    font-weight: 500;
                    line-height: 1.33;
                    text-align: left;
                    color: #4a4a4a;
                }
            }
            .transactionCurrentValues{
                margin-left: 60px;
                @media (max-width: 768px) {
                    margin-left: 30px;
                }
                p{
                    color: #004fc1;
                    font-weight: normal;
                    @media (max-width: 768px) {
                        word-break: break-all;
                    }
                }
            }
        }
    }
}


// Blockchain Details
.blockchainDetailsContentParent{
    display: none;
    .blockchainDetailsContent{
        display: flex;
        margin-top: 28px;
        @media (max-width: 768px) {
            display: block;
        }
        .blockchainDetailsContentLeft{
            .blockchainDetailsContentInner{
                display: flex;
                .blockchainLable{
                    p{
                        font-size: 12px;
                        font-weight: 500;
                        line-height: 1.33;
                        text-align: left;
                        color: #4a4a4a;
                        margin-bottom: 10px;
                    }
                }
                .blockchainvalues{
                    margin-left: 41px;
                    text-align: left;
                    color: #808080;
                    p{
                        font-weight: normal;
                        &:first-child{
                            color: #004fc1;
                        }
                    }
                }
            }
        }
        .blockchainDetailsContentRight{
            margin-left: 176px; 
            @media (max-width: 768px) {
                margin-left: 0;
            }
            .blcokchainSpringValues{
                display: flex;
                .blcokchainSpringValueslabel{
                    p{
                        font-size: 12px;
                        font-weight: 500;
                        line-height: 1.33;
                        text-align: left;
                        color: #4a4a4a;
                    }
                }
                .blcokchainSpringValuesCurrentValues{
                    margin-left: 84px;
                    p{
                        font-size: 12px;
                        line-height: 1.33;
                        text-align: left;
                        color: #808080;
                        margin-bottom: 9px;
                    }
                }
            }
        }
    }
    .rawInput{
        display: flex;
        @media (max-width: 768px) {
            display: block;
        }
        .rawInputlable{
            p{
                font-size: 12px;
                font-weight: 500;
                line-height: 1.33;
                text-align: left;
                color: #4a4a4a;
            }
        }
        .rawInputValueParent{
            margin-left: 41px;
            @media (max-width: 768px) {
                margin-left: 0;
            }
            button{
                width: 110px;
                line-height: 31px;
                border-radius: 15.5px;
                border: solid 1px #004fc1;
                background: transparent;
                font-size: 12px;
                font-weight: 500;
                color: #004fc1;
                cursor: pointer;
                margin-top: 8px;
            }
            .rawInputValue{
                width: 700px;
                border-radius: 15.5px;
                border: solid 1px #d2d2d2;
                padding: 10px 48px 10px 12px;
                position: relative;
                @media (max-width: 768px) {
                    width: 100%;
                }
                textarea{
                    width: 100%;
                    border: 0;
                    resize: none;
                    padding-right: 11px;
                    outline: none;
                }
                .rawInputValueIcons{
                    position: absolute;
                    top: 10px;
                    right: 13px;
                    margin: auto;
                    img{
                        &:last-child{
                            margin-top: 10px;
                        }
                    }
                }
            }
        }
    }
}
.detailsInputLogs{
    margin-bottom: 0 !important;
    border-bottom: 1px solid #f5f7f8;
    &:last-child{
        border: 0;
    }
    .blockscoutHeader{
        .blockscoutHeaderInner{
            margin-bottom: 0 !important;
        }
    }
}
.rotateMe{
    transform: rotate(180deg);
}



#scrollBar::-webkit-scrollbar{
	width: 3px;
    background-color: transparent;
}

#scrollBar::-webkit-scrollbar-thumb{
	background-color: #d8d8d8;
}
