.transaction-details-address {
  font-size: 12px;
  font-weight: bold;
  line-height: 1.2;
  margin: 0 0 12px;
}

.transaction-bottom-panel {
	display: flex;
	flex-direction: column;
	@media (min-width: 768px) {
		flex-direction: row;
		justify-content: space-between;
		align-items: flex-end;
	}
}

.download-all-transactions {
	text-align: center;
	color: #a3a9b5;
	font-size: 13px;
	margin-top: 10px;
	@media (min-width: 768px) {
		margin-top: 30px;
	}
	.download-all-transactions-link {
		text-decoration: none;
		svg {
			position: relative;
			margin-left: 2px;
			top: -3px;
			path {
				fill: $primary;
			}
		}
		&:hover {
			span {
				text-decoration: underline;
			}
		}
	}
}