<span class="<%= if @contract do %>contract-address<% end %>">
  <span class="d-none d-md-none d-lg-inline"><%= @address_hash %></span>
  <span class="d-md-block d-lg-none "><%= ExplorerWeb.AddressView.trimmed_hash(@address_hash) %></span>
</span>
