_build
deps
apps/block_scout_web/assets/node_modules
apps/explorer/node_modules
test
.git
.github
cloudbuild.yaml
.elixir_ls
.idea
.circleci
apps/*/test
logs
**/*/*.log

/cover
/doc
/.fetch
erl_crash.dump
*.ez
*.beam