# Ignore everything
**

# Unignore required files and directories
!/mix.exs
!/mix.lock
!/apps/**
!/config/**

# Ignore inner stuff from the required directories
**/node_modules
apps/block_scout_web/priv/cert
apps/block_scout_web/priv/static
apps/explorer/priv/solc_compilers
apps/explorer/priv/vyper_compilers