
@font-face {
  font-family: 'Roboto';
  src: url("/fonts/Roboto/Roboto-Light.ttf");
  font-weight: 200;
}

@font-face {
  font-family: 'Roboto';
  src: url("/fonts/Roboto/Roboto-Regular.ttf");
  font-weight: 400;
}

@font-face {
  font-family: 'Roboto';
  src: url("/fonts/Roboto/Roboto-MediumItalic.ttf");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'Roboto';
  src: url("/fonts/Roboto/Roboto-Medium.ttf");
  font-weight: 600;
}


@font-face {
  font-family: 'Roboto';
  src: url("/fonts/Roboto/Roboto-Bold.ttf");
  font-weight: 700;
}

@font-face {
  font-family: 'Boxed Bold';
  src: url("/fonts/boxed-bold.otf");
}
