{{- define "quai-blockscout.ingress" }}
- host: <HOST>
  http:
    paths:
    - path: /
      pathType: Prefix
      backend:
        service:
          name: prime-{{ include "quai-blockscout.name" $ }}
          port:
            name: http
{{- end }}
