$explorer-colors: (
    "blue": (
      "500": #4786ff
    ),
    "slate": (
      "100": #1b2437,
      "500": #f5f7fa,
      "900": #e4e6e9
    ),
    "gray": (
      "300": #7d7e7f,
      "900": #fafcff,
    ),
    "green": (
      "500": #1bb85a
    ),
    "purple": (
      "500": #8940d5
    ),
    "yellow": (
      "500": #ffc547
    ),
    "red": (
      "500": #ff7860
    ),
    "white": #ffffff,
    "black": #000000
);

@function explorer-color($color-name, $tone: null) {
  @if ($tone) {
    @return map-get(map-get($explorer-colors, $color-name), $tone);
  } @else {
    @return map-get($explorer-colors, $color-name);
  }
}
