
body {
  color: $ma-grey;
  font-family: $ma-body-sans-serif;
}


h1 {
  font-size: 28px;
  font-family: $ma-sans-serif;

  @media screen and (max-width: 768px) {
    font-size: 22px;
   }
}

h2 {
  font-size: 18px;
  font-weight: 300;
}

h3 {
  font-size: 15px;
  font-weight: 500;
}

h4 {
  font-size: 16px !important;
  line-height: 24px !important;
  font-weight: 300 !important;
  color: $ma-md-grey !important;
  margin-top: 4px !important;

  &.underline {
    text-decoration: underline;
  }
}

p {
  font-size: 12px;
  color: $ma-md-grey;

  @media screen and (max-width: 768px) {
    font-size: 14px !important;
   }
}

.special {
  font-size: 11px;
  font-style: italic;
}


a {
  text-decoration: none;
  color: $ma-teal;
  font-size: 12px;

  &:hover,
  &:focus {
    text-decoration: none;
  }
}

.support {
  font-size: 15px !important;
}
