body {
  font-family: $font-family-sans-serif;
  font-size: 12px;
}

h1 {
  font-size: 26px;
  font-weight: 200;
}

h2 {
  font-size: 18px;
  font-weight: 200;
}

h3 {
  font-size: 14px;
  font-weight: 600;
}

h4 {
  font-size: 16px !important;
  line-height: 24px !important;
  font-weight: 300 !important;
  color: $gray-600 !important;
  margin-top: 4px !important;

  &.underline {
    text-decoration: underline;
  }
}

p {
  font-size: 13px;

  @media screen and (max-width: 768px) {
    font-size: 14px !important;
   }
}

a {
  text-decoration: none;
  color: lighten($primary, 25%);

  &:hover,
  &:focus {
    text-decoration: underline;
  }

  .bg-primary &:hover,
  .bg-primary &:focus {
    color: $white;
  }
}
.monospace {
  font-family: $font-family-monospace;
}

.contract-address {
  border-bottom: 1px dashed currentColor;
  display: inline-block;
}


.text {
    &-transaction {
      color: $blue;
    }

    &-contract-call {
      color: $green;
    }

    &-contract-creation {
      color: $pink;
    }

    &-token {
      color: $orange;
    }

    &-internal-transaction {
      color: $teal;
    }
}
