body {
  font-family: $font-family-sans-serif;
  font-size: 13px;
}

h1 {
  font-size: 18px;
  font-family: $font-family-sans-serif;
  font-weight: 600;
}

h2 {
  font-size: 18px;
  font-weight: 300;
}

h3 {
  font-size: 15px;
  font-weight: 500;
}

h4 {
  font-size: 16px !important;
  line-height: 24px !important;
  font-weight: 300 !important;
  color: $gray-600 !important;
  margin-top: 4px !important;

  &.underline {
    text-decoration: underline;
  }
}

p {
  font-size: 13px;

  @media screen and (max-width: 768px) {
    font-size: 14px !important;
   }
}

a {
  text-decoration: none;
  color: $primary;
  font-size: 13px;

  &:hover,
  &:focus {
    text-decoration: underline;
  }
}
.monospace {
  font-family: $font-family-monospace;
}
