@import "explorer/all";
@import "components/all";

/* Phoenix flash messages */
.alert:empty { display: none; }

/* This file is for your main application css. */

//Bootstrap Core CSS
@import "node_modules/bootstrap/scss/functions";
@import "theme/variables";
@import "node_modules/bootstrap/scss/mixins";
@import "node_modules/bootstrap/scss/root";
@import "node_modules/bootstrap/scss/reboot";

// Bootstrap Components
@import "node_modules/bootstrap/scss/dropdown";
@import "node_modules/bootstrap/scss/transitions";


//Custom SCSS
@import "theme/fonts";
@import "utilities";
@import "typography";
@import "explorer/button";
@import "explorer/filter";
