pre {
  white-space: pre-wrap;
}

pre code {
  font-size: 13px;
}

.pre-wrap code {
  white-space: pre-wrap;
}

.pre-scrollable-shorty {
  max-height: $pre-scrollable-max-height / 7;
}

.tile pre  {
  margin-bottom: 0;
}
