pre {
  white-space: pre-wrap;
}

.pre-wrap code {
  white-space: pre-wrap;
}

.pre-decompiled code {
    white-space: pre-wrap;
    color: #ffffff;
}

.pre-scrollable-shorty {
  max-height: $pre-scrollable-max-height / 7;
}

.tile pre  {
  margin-bottom: 0;
}
