pre {
  white-space: pre-wrap;
}

.pre-wrap code {
  white-space: pre-wrap;
}

.pre-decompiled code {
  white-space: pre-wrap;
  counter-increment: line;
}

.pre-decompiled code::before {
  content: counter(line);
  display: inline-block;
  width: 3em;
  border-right: 1px solid #ddd;
  padding: 0 .5em;
  margin-right: .5em;
  color: #888;
  -webkit-user-select: none;
}

.pre-scrollable-shorty {
  max-height: $pre-scrollable-max-height / 7;
}

.tile pre {
  margin-bottom: 0;
}

.contract-code-container {
  @include media-breakpoint-down(md) {
    flex-direction: column;
  }

  & .buttons {
    @include media-breakpoint-down(md) {
      width: 100%;
      margin-bottom: 10px;
    }
  }
}
