.pr-0-md {
  padding-right: 0 !important;

  @include media-breakpoint-down(md) {
    padding-right: 15px !important;
  }
}

.pl-0-md {
  padding-left: 0 !important;

  @include media-breakpoint-down(md) {
    padding-left: 15px !important;
  }
}

.card-mr-50-md {
  margin-right: $common-container-margin;

  @include media-breakpoint-down(md) {
    margin-right: 0;
  }
}

.clearfix:after {
  clear: both;
  content: " "; /* Older browser do not support empty content */
  display: block;
  height: 0;
  visibility: hidden;
}

.hidden {
  display: none!important;
}

.word-break-all {
  word-break: break-all;
}

.centered-container {
  display: flex;
  align-items: center;
}

.pre-wrap {
  white-space: pre-wrap;
}

.mb-2-desktop {
  @include media-breakpoint-up(sm) {
    margin-bottom: .5rem !important;
  }
}

.transactions-header {
  @include media-breakpoint-down(sm) {
    display: grid !important;
  } 
}

.d-tc-sm-sc {
  @include media-breakpoint-down(sm) {
    display: grid !important;
  }
}