@import '~@tarekraafat/autocomplete.js/dist/css/autoComplete.01.css';

$layout-container-main-background-color: #fbfafc !default;

.layout-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  main {
    flex-grow: 1;
    background-color: $layout-container-main-background-color;
  }
}

.logs-hash {
  line-height: 24px !important;
}