@mixin textfield-placeholder($color: #a3a9b5) {
  &::-webkit-input-placeholder {
    color: $color;
  }
  &::-moz-placeholder {
    color: $color;
  }
  &:-ms-input-placeholder {
    color: $color;
  }
  &:-moz-placeholder {
    color: $color;
  }
}

@mixin gradient-container() {
  background-color: $primary !important;
  background-image: linear-gradient(
    to right,
    $dashboard-banner-gradient-start,
    $dashboard-banner-gradient-end
  );
  box-shadow: 0 5px 40px -5px rgba(#000, 0.25);
  margin-top: -3rem;
}

@mixin stats-item($border-color: #fff, $text-color: #fff, $value-color: #fff) {
  &-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: calc(1rem + 4px);
    padding-right: 1rem;
    position: relative;

    &::before {
      background-color: $border-color;
      border-radius: 2px;
      content: "";
      height: 100%;
      left: 0;
      position: absolute;
      top: 0;
      width: 4px;
    }
  }

  &-label {
    color: $text-color;
    display: block;
    white-space: nowrap;
  }

  &-label-item {
    margin-right: 20px;

    &:last-child {
      margin-right: 0;
    }
  }

  &-value {
    color: $value-color;
    display: block;
    font-size: 1.5rem;
    font-weight: 200;
    white-space: nowrap;

    @media (max-width: $breakpoint-lg) {
      font-size: 1.25rem;
    }
  }
}

@mixin btn-full($bg-color: $primary, $text-color: #fff) {
  -webkit-appearance: none !important;
  align-items: center;
  background-color: $bg-color;
  border-radius: 2px;
  border: 1px solid $bg-color;
  color: $text-color;
  cursor: pointer;
  display: flex;
  font-size: 12px;
  font-weight: 600;
  height: 36px;
  justify-content: center;
  outline: none;
  padding: 0 15px;
  text-decoration: none;
  transition: $transition-cont;
  white-space: nowrap;
  width: fit-content;

  &:hover {
    background-color: darken($bg-color, 10%);
    border-color: darken($bg-color, 10%);
    color: $text-color;
    text-decoration: none;
  }

  svg {
    margin-right: 12px;
  }

  path {
    fill: $text-color;
  }

  &.full-width {
    width: 100%;
  }

  &[disabled] {
    &,
    &:hover {
      background-color: $bg-color;
      border-color: $bg-color;
      cursor: default;
      opacity: 0.5;
    }
  }

  &.m-b-0-7 {
    margin-bottom: 0.7rem;
  }
}

@mixin btn-line($bg-color: #fff, $text-color: $secondary, $font-size: 12px) {
  -webkit-appearance: none !important;
  align-items: center;
  background-color: $bg-color;
  border-radius: 2px;
  border: 1px solid $text-color;
  color: $text-color;
  cursor: pointer;
  display: flex;
  font-size: $font-size;
  font-weight: 600;
  height: 36px;
  justify-content: center;
  outline: none;
  padding: 0 15px;
  text-decoration: none;
  transition: $transition-cont;
  white-space: nowrap;
  width: fit-content;
  font-weight: 400;

  &:hover {
    background-color: $text-color;
    color: $bg-color;
    text-decoration: none;

    path {
      fill: $bg-color;
    }
  }

  svg {
    margin-right: 12px;
  }

  path {
    transition: $transition-cont;
    fill: $text-color;
  }

  &.full-width {
    width: 100%;
  }

  &[disabled] {
    &,
    &:hover {
      background-color: $bg-color!important;
      border-color: $primary!important;
      color: $primary!important;
      cursor: default;
      opacity: 0.5;
    }
  }
}

@mixin square-icon-button($color, $dimensions) {
  align-items: center;
  border: 1px solid $color;
  border-radius: 2px;
  cursor: pointer;
  display: flex;
  height: $dimensions;
  justify-content: center;
  transition: $transition-cont;
  width: $dimensions;

  svg {
    display: block;
    height: 100%;
    width: 100%;
  }

  path {
    fill: $color;
    transition: $transition-cont;
  }

  &:hover {
    background-color: $color;

    path {
      fill: #fff;
    }
  }
}

@mixin square-icon-button-inline($color, $dimensions) {
  border: 1px solid $color;
  border-radius: 2px;
  cursor: pointer;
  display: inline;
  height: $dimensions;
  transition: $transition-cont;
  width: $dimensions;

  path {
    fill: $color;
    transition: $transition-cont;
  }

  svg {
    vertical-align: text-bottom;   
    margin-bottom: -1.1px;
  }

  &:hover {
    background-color: $color;

    path {
      fill: #fff;
    }
  }
}

@mixin image-2x($image, $width: 100%, $height: 100%) {
  @media (min--moz-device-pixel-ratio: 1.3),
         (-o-min-device-pixel-ratio: 2.6/2),
         (-webkit-min-device-pixel-ratio: 1.3),
         (min-device-pixel-ratio: 1.3),
         (min-resolution: 1.3dppx) {
    background-image: url($image);
    background-size: $width $height;
  }
}