$common-link-color: #65B3AE !default;
$blue: #4b89fb !default;
$success: #34c0ad !default;

@font-face {
	font-family: GT;
	src: url('./GTWalsheimPro-Medium.woff2') format('woff2');
}
@font-face {
	font-family: GTBold;
	src: url('./GTWalsheimPro-Bold.woff2') format('woff2');
}

body {
  font-family: $font-family;
  font-size: 12px;
}

h1 {
  font-size: 26px;
  font-weight: 200;
}

h2 {
  font-size: 18px;
  font-weight: 200;
}

h3 {
  font-size: 14px;
  font-weight: 600;
  line-height: 36px;
}

h4 {
  color: $gray-600;
  font-size: 16px;
  font-weight: 300;
  line-height: 24px;
  margin-top: 4px;

  &.underline {
    text-decoration: underline;
  }
}

h5 {
  font-size: 14px;
}

p {
  font-size: 13px;

  @media screen and (max-width: 768px) {
    font-size: 14px;
  }
}

a {
  //color: $common-link-color;
  text-decoration: none;

  &:hover,
  &:focus {
    //color: darken($common-link-color, 20%);
    text-decoration: underline;
  }

  .bg-primary &:hover,
  .bg-primary &:focus {
    color: $white;
  }
}

label,
textarea.form-control {
  font-size: 13px;
}

.monospace {
  font-family: $font-family-monospace;
}

.contract-address {
  display: inline-block;
  text-decoration: underline;
  text-decoration-style: dashed;
  &:hover {
    text-decoration-style: none;
  }
}

.text {
  &-transaction {
    color: $blue;
  }

  &-contract-call {
    color: $green;
  }

  &-contract-creation {
    color: $pink;
  }

  &-token {
    color: $orange;
  }

  &-internal-transaction {
    color: $teal;
  }

  &-faded {
    opacity: 0.7;
  }
}

[data-transaction-status="Success"],
[data-internal-transaction-type="Reward"] {
  color: $success;
}

[data-internal-transaction-type="Call"] {
  color: $blue;
}

[data-internal-transaction-type="Delegate Call"] {
  color: $purple;
}

[data-internal-transaction-type="Create"] {
  color: $pink;
}

[data-transaction-status^="Error"],
[data-internal-transaction-type="Suicide"] {
  color: $danger;
}