<title>
  <%= gettext(
        "Verified contracts - %{subnetwork} Explorer",
        subnetwork: BlockScoutWeb.LayoutView.subnetwork_title()
    ) %>
</title>
<meta name="keywords" content="<%= "Verifed contracts, #{BlockScoutWeb.LayoutView.subnetwork_title()}" %>">
<meta name="description" content="<%= gettext "View the verified contracts on %{subnetwork}", subnetwork: BlockScoutWeb.LayoutView.subnetwork_title() %>">
