use Mix.Config

# Configure your database
config :explorer, Explorer.Repo,
  adapter: Ecto.Adapters.Postgres,
  database: "explorer_dev",
  hostname: "localhost",
  username: "postgres",
  password: "<REPLACE WITH THE PASSWORD YOU CHOSE>",
  loggers: [Explorer.Repo.PrometheusLogger],
  pool_size: 20,
  pool_timeout: 60_000,
  timeout: 80_000

# configure S3 bucket
config :ex_aws,
  access_key_id: "<REPLACE WITH YOUR AWS ACCESS KEY ID>",
  secret_access_key: "<REPLACE WITH YOUR AWS SECRET ACCESS KEY>"
