use Mix.Config

# Configure ethereumex
config :ethereumex,
  url: "http://localhost:8545"

# Configures the endpoint
config :explorer, ExplorerWeb.Endpoint,
  secret_key_base: "RMgI4C1HSkxsEjdhtGMfwAHfyT6CKWXOgzCboJflfSm4jeAlic52io05KB6mqzc5"
