// general
$primary: #35D07F;
$secondary: #FBCC5C;
$tertiary: #fff;
$additional-font: #fff;
$white: #fff;
$celo-dark: #2E3338;
$celo-blue: #0c74d4;

$purple: #BF97FF;
$orange: #FFB765;
$cyan: #7ADEFF;
$green: #35D07F;

// Tile

$tile-body-a-color: $primary;
$tile-type-block-color: $primary;
$tile-type-progress-bar-color: $primary;
.tile {
    a.tile-title {
        color: $primary !important;
        font-size: 16px !important;
    }
    .tile-bottom-contents { background: none !important; }
}

// footer
$footer-background-color: #282d31;
$footer-title-color: #fff;
$footer-text-color: $additional-font;
$footer-item-disc-color: $secondary;
$footer-social-icon-color: $secondary;

.footer-logo { filter: none !important; }
.footer-list ul li {
    &:before {
        background-color: $white !important;
    }
}
.footer {
    .fa, .fas, .far, .fal, .fab {
        color: $white !important;
    }
}

// dashboard
$dashboard-line-color-price: #fff; // price left border

$dashboard-banner-chart-legend-label-color: #fff;
$dashboard-stats-item-label-color: $dashboard-banner-chart-legend-label-color;
$dashboard-banner-chart-legend-value-color: #fff; // chart labels
$dashboard-stats-item-value-color: #fff; // stat values

$dashboard-stats-item-border-color: $secondary; // stat border  

$dashboard-banner-gradient-start: $primary; // gradient begin

$dashboard-banner-gradient-end: #289371; // gradient end

$dashboard-banner-network-plain-container-background-color: #2ea780; // stats bg

.layout-container .dashboard-banner-container {
    background: $celo-dark !important;
}
.dashboard-banner-network-plain-container,
.dashboard-banner-network-plain-container::after {
    content: none !important;
    background: none !important;
    margin-top: auto !important;
    margin-bottom: auto !important;
}


// navigation
$header-background-color: #2e3338;
.navbar { box-shadow: none; } // header shadow
$dropdown-menu-item-hover-color: $primary;
$dropdown-menu-item-hover-background: rgba($primary, .1);
$header-icon-border-color-hover: $primary;
$header-icon-color: $white;
$header-icon-color-hover: mix($white, $header-background-color, 75%);
$header-links-color: $white;
$header-links-color-active: rgba($white, 0.75);

body:not(.dark-theme-applied) {   
  .navbar.navbar-primary .form-control[placeholder] {
    color: #666 !important;
  }
  .navbar.navbar-primary .form-control[placeholder]::placeholder {
    color: #999;
  }
  .navbar.navbar-primary .input-group-append * {
    fill: #AAA !important;
  }
}

// buttons
$btn-line-bg: #fff; // button bg
$btn-line-color: $primary; // button border and font color && hover bg color
$btn-copy-color: $primary; // btn copy
$btn-qr-color: $primary; // btn qr-code
$btn-address-card-icon-color: $primary; // btn address color

.card .btn-line {
  @include btn-line($btn-line-color, $btn-line-bg);
}

//links & tile
$tile-body-a-color: $primary;
$tile-type-block-color: $primary;
$tile-type-progress-bar-color: $primary;
a.tile-title { color: $primary !important; }

// card
$card-background-1: $primary;
$card-tab-active: $primary;

.layout-container {
    .dashboard-banner-container {
      background-image: linear-gradient(
        to bottom,
        $dashboard-banner-gradient-start,
        $dashboard-banner-gradient-end
      );
    }
}

// Badges
$badge-neutral-color: $primary;
$badge-neutral-background-color: rgba($primary, .1);
$api-text-monospace-color: $primary;

// Tokens dropdown
.token-balance-dropdown[aria-labelledby="dropdown-tokens"] {
  .dropdown-items .dropdown-item:hover {
    color: $primary !important;
  }
}

// Network selection
.network-selector-overlay {
  background-color: rgba($primary, 0.6) !important;
}

form.network-selector-search-container {
    margin: 0px 20px;
    background: white;
    border: 1px solid rgba(61,61,61,0.20);
    border-radius: 4px;

    &:hover {
        border-color: $primary;
    }
}
.network-selector-close path {
    fill: $celo-dark !important;
}

// Radio button
.radio input[type="radio"]:checked + .radio-icon {
    border-color: $secondary !important;

    &:before {
        background: $secondary !important;
    }
}

// Dark theme
$dark-primary: #2b9f7a;
$dark-secondary: #20745a;
$dark-primary-alternate: #2b9f7a; 

.dark-theme-applied .dashboard-banner-chart-legend .dashboard-banner-chart-legend-item:nth-child(1)::before {
    background-color: white!important;
}

.dark-theme-applied .dashboard-banner-chart-legend .dashboard-banner-chart-legend-item:nth-child(2)::before {
    background-color: $primary!important;
}

.dark-theme-applied .tile .tile-body a, .dark-theme-applied .tile span[data-address-hash] {
    color: #2b9f7a;
}