// general
$primary: #233174;
$secondary: #15f9bb;
$tertiary: #5a77ff;
$additional-font: #fff;

// footer
$footer-background-color:#202d6a;
$footer-title-color: #fff;
$footer-text-color: #b5c2ff;
$footer-item-disc-color: $secondary;
.footer-logo { filter: brightness(0) invert(1); }
.footer-social-icon { color: $secondary!important; }
// dashboard
$dashboard-line-color-price: $tertiary; // price left border

$dashboard-line-color-market: $secondary;

$dashboard-banner-chart-legend-label-color: $footer-text-color;
$dashboard-stats-item-label-color: #b4c1ff;
$dashboard-banner-chart-legend-value-color: #fff; // chart labels
$dashboard-stats-item-value-color: #fff; // stat values

$dashboard-stats-item-border-color: $secondary; // stat border

$dashboard-banner-gradient-start: $primary; // gradient begin

$dashboard-banner-gradient-end: #1e2a63;
// gradient end

$dashboard-banner-network-plain-container-background-color: #273781
; // stats bg


// navigation
.navbar { box-shadow: 0px 0px 30px 0px rgba(21, 53, 80, 0.12); } // header shadow

// buttons
$btn-line-bg: #fff; // button bg
$btn-line-color: $primary; // button border and font color && hover bg color
$btn-copy-color: $primary; // btn copy
$btn-qr-color: $primary; // btn qr-code
$btn-address-card-icon-color: $secondary; // btn address color

//links & tile
$tile-body-a-color: $tertiary;
$tile-type-block-color: $primary;
$tile-type-progress-bar-color: $primary;
a.tile-title { color: $primary !important; }

// card
$card-background-1: $primary;
$card-tab-active: $primary;

.layout-container {
	.dashboard-banner-container {
	  background-image: linear-gradient(
	    to bottom,
	    $dashboard-banner-gradient-start,
	    $dashboard-banner-gradient-end
	  );
	}
}

// Badges
$badge-neutral-color: #20446e;
$badge-neutral-background-color: rgba(#20446e, .1);
$api-text-monospace-color: #20446e;

// Dark theme
$dark-primary: #233174;
$dark-secondary:#15f9bb;
$dark-tertiary: #5a77ff;

.dark-theme-applied .tile .tile-body a, .dark-theme-applied .tile span[data-address-hash] {
    color: $dark-tertiary!important;
}

.dark-theme-applied .btn-line {
    background-color: transparent!important;
    border-color: $dark-tertiary!important;
    color: $dark-tertiary!important;
}

.dark-theme-applied .btn-line:hover {
    color: $additional-font!important;
}