@import url('https://fonts.googleapis.com/css?family=Nunito:200,300,400,600,700');
@import url('https://fonts.googleapis.com/css?family=Roboto');
@font-face {
    font-family: 'Roboto Condensed';
    src: url(../RobotoCondensed-Regular.ttf) format("truetype"); 
}

@font-face {
    font-family: 'Roboto Mono';
    src: url(../RobotoMono-Regular.ttf) format("truetype"); 
}