// general
$primary: #05283e;
$secondary: #f6e943;
$tertiary: #99faab;
$additional-font: #fff;

// footer
$footer-background-color: $primary;
$footer-title-color: #fff;
$footer-text-color: #fff;
$footer-item-disc-color: $tertiary;
.footer-logo { filter: brightness(0) invert(1); }

// dashboard
$dashboard-line-color-price: $tertiary; // price left border

$dashboard-banner-chart-legend-label-color: #fff;
$dashboard-stats-item-label-color: $dashboard-banner-chart-legend-label-color;
$dashboard-banner-chart-legend-value-color: #fff; // chart labels
$dashboard-stats-item-value-color: #fff; // stat values

$dashboard-stats-item-border-color: $secondary; // stat border

$dashboard-banner-gradient-start: $primary; // gradient begin

$dashboard-banner-gradient-end: lighten($primary, 5); // gradient end

$dashboard-banner-network-plain-container-background-color: #234057; // stats bg


// navigation
.navbar { box-shadow: 0px 0px 30px 0px rgba(21, 53, 80, 0.12); } // header shadow
$dropdown-menu-item-hover-color: $primary !default;
$dropdown-menu-item-hover-background: rgba($primary, .1) !default;
$header-icon-color-hover: $primary;
$header-icon-border-color-hover: $primary;

// buttons
$btn-line-bg: #fff; // button bg
$btn-line-color: $primary; // button border and font color && hover bg color
$btn-copy-color: $primary; // btn copy
$btn-qr-color: $primary; // btn qr-code

//links & tile
$tile-body-a-color: $primary;
$tile-type-block-color: $primary;
$tile-type-progress-bar-color: $primary;
a.tile-title { color: $primary !important; }

// card
$card-background-1: $primary;
$card-tab-active: $primary;

.layout-container {
  .dashboard-banner-container {
    background-image: linear-gradient(
      to bottom,
      $dashboard-banner-gradient-start,
      $dashboard-banner-gradient-end
    );
  }
}

// Badges
$badge-neutral-color: $primary;
$badge-neutral-background-color: rgba($primary, .1);
$api-text-monospace-color: $primary;

// Tokens dropdown
.token-balance-dropdown[aria-labelledby="dropdown-tokens"] {
  .dropdown-items .dropdown-item:hover {
    color: $primary !important;
  }
} 