$primary:       #20201A;
$secondary:     #F0D96B;
$tertiary:      #4A443A;

$footer-background-color: $primary;
$footer-title-color: #fff;
$footer-text-color: #fff;
$footer-item-disc-color: $secondary;