// general
$primary: #2b2b2b;
$secondary: #eac247;
$tertiary: #929292;
$additional-font: #ffffff;
$sub-accent-color: #a46f30;

$btn-line-color: $sub-accent-color; // button border and font color && hover bg color