// general
$primary: #2b2b2b;
$secondary: #eac247;
$tertiary: #929292;
$additional-font: #ffffff;

// footer
$footer-background-color: $primary;
$footer-title-color: #fff;
$footer-text-color: #7e7e7e;
$footer-item-disc-color: $secondary;
.footer-logo { filter: brightness(0) invert(1); }

// dashboard
$dashboard-line-color-price: $secondary;

$dashboard-line-color-market: $tertiary;

$dashboard-banner-chart-legend-label-color: $tertiary;
$dashboard-stats-item-label-color: $tertiary;
$dashboard-banner-chart-legend-value-color: #fff; // chart labels
$dashboard-stats-item-value-color: #fff; // stat values

$dashboard-stats-item-border-color: $secondary; // stat border

$dashboard-banner-gradient-start: $primary; // gradient begin

$dashboard-banner-gradient-end: lighten($primary, 5); // gradient end

$dashboard-banner-network-plain-container-background-color: #424242; // stats bg


// navigation
.navbar { box-shadow: 0px 0px 30px 0px rgba(21, 53, 80, 0.12); } // header shadow

// buttons
$btn-line-bg: #fff; // button bg
$btn-line-color: #a46f30; // button border and font color && hover bg color
$btn-copy-color: #a46f30; // btn copy
$btn-qr-color: #a46f30; // btn qr-code

//links & tile
$tile-body-a-color: #a46f30;
$tile-type-block-color: #a46f30;
$tile-type-progress-bar-color: #a46f30;
a.tile-title { color: #a46f30 !important; }

// card
$card-background-1: #a46f30;
$card-tab-active: #a46f30;

// dropdown
.dropdown-item {
    &:hover,
    &:active,
    &.active {
      background-color: rgba(#a46f30, .1) !important;
      color: #a46f30 !important;
    }
}

.layout-container {
	.dashboard-banner-container {
	  background-image: linear-gradient(
	    to bottom,
	    $dashboard-banner-gradient-start,
	    $dashboard-banner-gradient-end
	  );
	}
}
