$primary: #1d3154;
$secondary: #fdcec4;
$tertiary: #00ff00;

$dashboard-banner-gradient-start: #fdb8aa;
$dashboard-banner-gradient-end: $secondary;

$header-links-color-active: #333;

$tile-type-block-color: $secondary;

$navbar-logo-height: 18px;
$navbar-logo-width: 100px;

$footer-background-color: $primary;
$footer-item-disc-color: $secondary;
$footer-link-color: $secondary;
$footer-social-icon-color: $secondary;
$footer-text-color: #fff;
$footer-logo-height: 18px;
$footer-logo-width: 100px;

$btn-line-color: $primary;

$dashboard-stats-item-color: $primary;
$dashboard-stats-item-border-color: $primary;
$stakes-stats-item-color: $primary;
$stakes-stats-item-border-color: $primary;

$card-background-1: $secondary;
$card-background-1-text-color: $primary;