// ------------------------------- //
// Neutral Theme 1: Blue Shifted
// ------------------------------- //

// $primary:       #254F8D;
// $secondary:     #72B0FB;
// $tertiary:      #72B0FB;


// ------------------------------- //
// Neutral Theme 2: Black and Blue
// ------------------------------- //

// $primary:       #34373E;
// $secondary:     #72B0FB;
// $tertiary:      #72B0FB;


// ------------------------------- //
// Neutral Theme 3: Purple Shifted
// ------------------------------- //

$primary:       #262D62;
$secondary:     #687BF6;
$tertiary:      #687BF6;

// ------------------------------- //
// GCoin 
// ------------------------------- //

$primary:       #313c52;
$secondary:     #738093;
$tertiary:      #3f94b3;