$primary:       #343434;
$secondary:     #A2D729;
$tertiary:      #7F7F7F;

$footer-background-color: $primary;
$footer-title-color: #fff;
$footer-text-color: #fff;
$footer-item-disc-color: $secondary;