$primary: #5b389f;
$secondary: #7dd79f;
$tertiary: #997fdc;

$header-links-color-active: #333;
$button-secondary-color: $primary;

$footer-background-color: $primary;
$footer-title-color: #fff;
$footer-text-color: #fff;
$footer-item-disc-color: $secondary;
