// general
$primary: #303846;
$secondary: #8247e5;
$tertiary: #87e1a9;
$additional-font: #fff;

// footer
$footer-background-color: $primary;
$footer-title-color: #fff;
$footer-text-color: #fff;
$footer-item-disc-color: $secondary;
.footer-logo { filter: brightness(0) invert(1); }

// dashboard
$dashboard-line-color-price: $tertiary; // price left border

$dashboard-line-color-market: $secondary;

$dashboard-banner-chart-legend-label-color: $footer-text-color;
$dashboard-stats-item-label-color: $footer-text-color;
$dashboard-banner-chart-legend-value-color: #fff; // chart labels
$dashboard-stats-item-value-color: #fff; // stat values

$dashboard-stats-item-border-color: $secondary; // stat border

$dashboard-banner-gradient-start: $primary; // gradient begin

$dashboard-banner-gradient-end: lighten($primary, 5); // gradient end

$dashboard-banner-network-plain-container-background-color: #455064; // stats bg


// navigation
.navbar { box-shadow: 0px 0px 30px 0px rgba(21, 53, 80, 0.12); } // header shadow

// form
$form-control-border-color-active: $secondary;

// buttons
$btn-line-bg: #fff; // button bg
$btn-line-color: $secondary; // button border and font color && hover bg color
$btn-copy-color: $secondary; // btn copy
$btn-qr-color: $secondary; // btn qr-code
$btn-address-card-icon-color: $secondary; // btn address color
$btn-contract-color: $secondary;

//links & tile
$tile-body-a-color: $primary;
$tile-type-block-color: $secondary;
$tile-type-progress-bar-color: $secondary;
.tile a:hover,
a.tile-title { color: $secondary !important; }
.card-body {  
	a:not(.dropdown-item):not(.button):not(.alert-link):not(#dropdown-tokens):not(.btn-line):not(.page-link) {
		color: $primary;

		&:hover {
			color: $secondary;
		}
	}
}

// card
$card-background-1: $primary;
$card-tab-active: $primary;

.layout-container {
	.dashboard-banner-container {
	  background-image: linear-gradient(
	    to bottom,
	    $dashboard-banner-gradient-start,
	    $dashboard-banner-gradient-end
	  );
	}
}

// Badges
$badge-neutral-color: #20446e;
$badge-neutral-background-color: rgba(#20446e, .1);
$api-text-monospace-color: #20446e;

// Staking
$stakes-btn-remove-pool-color: $secondary;
$stakes-dashboard-copy-icon-color: $secondary;
$btn-full-primary-bg: $secondary;
$stakes-address-color: $secondary;
$stakes-control-color: $secondary;
$stakes-link-color: $secondary;
$progress-from-to-progress-background: $secondary;
$stakes-stats-item-border-color: rgba(#fff, .5);
$check-color: $secondary;
$modal-status-graph-success: $secondary;
$stakes-progress-graph-color: $secondary;

// Dark theme
$dark-primary: #8247e5;
$dark-secondary: #8247e5;
$dark-primary-alternate: #15bba6;
$dark-tertiary: #8247e5;

.dark-theme-applied .tile .tile-body a,
.dark-theme-applied .tile a:hover,
.dark-theme-applied .tile span[data-address-hash],
.dark-theme-applied .tile a[data-test=token_link] {
    color: $additional-font!important;
}

.dark-theme-applied .btn-line {
    background-color: transparent!important;
    border-color: $additional-font!important;
    color: $additional-font!important;

    &[disabled] {
        &,
        &:hover {
            background-color: transparent!important;
            border-color: $additional-font!important;
            color: $additional-font!important;
        }
    }
}

.dark-theme-applied .btn-line:hover {
    color: $dark-tertiary!important;
    border-color: $dark-tertiary!important;
}

.dark-theme-applied .card-body {  
    a:not(.dropdown-item):not(.button):not(#dropdown-tokens):not(.btn-line):not(.page-link) {
        color: $additional-font;

        &:hover {
            color: $dark-tertiary;
        }
    }
}

.dark-theme-applied .dashboard-banner-chart-legend {
    .dashboard-banner-chart-legend-item {
      &:nth-child(1)::before {
        background-color: $dashboard-line-color-price;
      }
  
      &:nth-child(2)::before {
        background-color: $dashboard-line-color-market;
      }
    }
  }
