$primary: #15bba6;
$secondary: #17314f;
$tertiary: #00FF00;

$header-links-color-active: #333;
$dashboard-banner-gradient-start: $secondary;
$dashboard-banner-gradient-end: #1e4168;

$dashboard-line-color-price: $secondary;
$dashboard-line-color-market: $primary;

$tile-type-block-border-color: $secondary;