$primary: #15bba6;
$secondary: #17314f;
$tertiary: #00ff00;

$header-links-color-active: #333;
$dashboard-banner-gradient-start: $secondary;
$dashboard-banner-gradient-end: #1e4168;

$dashboard-line-color-market: $primary;

$tile-type-block-border-color: $secondary;
$tile-type-block-color: #333;

$footer-background-color: #173250;
$footer-text-color: #909dac;

$navbar-logo-height: auto;
$navbar-logo-width: 100px;

$footer-logo-height: auto;
$footer-logo-width: 100px;

$card-background-1: $secondary;
$card-background-1-text-color: #fff;

$btn-copy-color: $secondary;
$btn-qr-color: $secondary;

$btn-dropdown-line-color: $secondary;