// general
$primary: #33262A;
$secondary: #FF7765;
$tertiary: #49DFC5;
$quaternary: #925869;
$additional-font: #fff;

// footer
$footer-background-color: $primary;
$footer-title-color: #fff;
$footer-text-color: #A9939A;
$footer-item-disc-color: #E3A669;
.footer-social-icons .footer-social-icon { color: $footer-item-disc-color; }

// dashboard
$dashboard-line-color-price: $footer-item-disc-color; // price left border

$dashboard-line-color-market: $tertiary;

$dashboard-line-color-transactions: $secondary;

$dashboard-banner-chart-legend-label-color: $footer-text-color;
$dashboard-stats-item-label-color: $footer-text-color;
$dashboard-banner-chart-legend-value-color: #fff; // chart labels
$dashboard-stats-item-value-color: #fff; // stat values

$dashboard-stats-item-border-color: $secondary; // stat border

$dashboard-banner-gradient-start: $primary; // gradient begin

$dashboard-banner-gradient-end: lighten($primary, 5); // gradient end

$dashboard-banner-network-plain-container-background-color: #5E464D; // stats bg


// navigation
.navbar { box-shadow: 0px 0px 30px 0px rgba(21, 53, 80, 0.12); } // header shadow

// buttons
$btn-line-bg: #fff; // button bg
$btn-line-color: $quaternary; // button border and font color && hover bg color
$btn-copy-color: $quaternary; // btn copy
$btn-qr-color: $quaternary; // btn qr-code
$btn-address-card-icon-color: $quaternary; // btn address color
$btn-contract-color: $quaternary;

//links & tile
$tile-body-a-color: $quaternary;
$tile-type-block-color: $quaternary;
$tile-type-progress-bar-color: $quaternary;
a.tile-title { color: $quaternary !important; }

// card
$card-background-1: $quaternary;
$card-tab-active: $quaternary;

.layout-container {
	.dashboard-banner-container {
	  background-image: linear-gradient(
	    to bottom,
	    $dashboard-banner-gradient-start,
	    $dashboard-banner-gradient-end
	  );
	}
}

// Badges
$badge-neutral-color: #20446e;
$badge-neutral-background-color: rgba(#20446e, .1);
$api-text-monospace-color: #20446e;

// Dark theme
$dark-primary: #15bba6;
$dark-secondary: #93d7ff;
$dark-primary-alternate: #15bba6;