$primary:       #A375FF;
$secondary:     #00F0BD;
$tertiary:      #53A9FF;

$footer-background-color: $primary;
$footer-title-color: #fff;
$footer-text-color: #fff;
$footer-item-disc-color: $secondary;