// general
$primary: #093731;
$secondary: #40bfb2;
$tertiary: #25c9ff;
$additional-font: #93e8dd;
$sub-accent-color: #1c9f90;

$btn-line-color: $sub-accent-color; // button border and font color && hover bg color