// general
$primary: #093731;
$secondary: #40bfb2;
$tertiary: #25c9ff;
$additional-font: #93e8dd;

// footer
$footer-background-color: $primary;
$footer-title-color: #fff;
$footer-text-color: #93e8dd;
$footer-item-disc-color: $secondary;
.footer-logo { filter: brightness(0) invert(1); }

// dashboard
$dashboard-line-color-price: $tertiary; // price left border


$dashboard-banner-chart-legend-value-color: $additional-font; // chart labels

$dashboard-stats-item-value-color: $additional-font; // stat values

$dashboard-stats-item-border-color: $secondary; // stat border

$dashboard-banner-gradient-start: $primary; // gradient begin

$dashboard-banner-gradient-end: lighten($primary, 5); // gradient end

$dashboard-banner-network-plain-container-background-color: #0e534a; // stats bg


// navigation
.navbar { box-shadow: 0px 0px 30px 0px rgba(21, 53, 80, 0.12); } // header shadow
$header-icon-border-color-hover: $secondary; // top border on hover
$header-icon-color-hover: $secondary; // nav icon on hover
.dropdown-item:hover, .dropdown-item:focus { background-color: $secondary !important; } // dropdown item on hover

// buttons
$btn-line-bg: #fff; // button bg
$btn-line-color: #1c9f90; // button border and font color && hover bg color
$btn-copy-color: #1c9f90; // btn copy
$btn-qr-color: #1c9f90; // btn qr-code

//links & tile
.tile a { color: $secondary !important; } // links color for badges
.tile-type-block {
    border-left: 4px solid $secondary;
} // tab active bg

// card
$card-background-1: $secondary;
$card-tab-active: $secondary;
