<!-- Coinzilla Banner 728x90 -->
<script async src="https://coinzillatag.com/lib/display.js"></script>
<div class="ad-container mb-2" style="display: none;">
    <div class="coinzilla" data-zone="C-26660bf627543e46851"></div>
</div>
<script defer data-cfasync="false" src="<%= static_path(@conn, "/js/banner.js") %>"></script>
