<%= render BlockScoutWeb.StakesView, "_stakes_top.html", logged_in: true %>
<section class="container">
  <div class="card">
    <%= render BlockScoutWeb.StakesView, "_stakes_tabs.html", conn: @conn %>
    <%= render BlockScoutWeb.StakesView, "_stakes_title.html", title: "Active Pools", show_banned_checkbox: false %>
    <%= render BlockScoutWeb.ActivePoolsView, "_table.html", conn: @conn %>
  </div>
</section>
