<%= if not Enum.empty?(@pools) do %>
  <p>
    Pool list:<br />
    <%= for pool <- @pools do %>
      <%= pool %><br />
    <% end %>
  </p>
<% else %>
  <p>
    <%= if @error do %>
      <%= @error %>
    <% else %>
      <%= gettext("Unable to find any pools you staked into.") %>
    <% end %>
  </p>
<% end %>