<div class="stakes-address-container">
    <span onclick="openPoolInfoModal('<%= to_string(@address) %>')" class="stakes-address">
        <%= binary_part(to_string(@address), 0, 13) %>
    </span>
    <%= if @tooltip do %>
        <%= render BlockScoutWeb.CommonComponentsView, "_check_tooltip.html", text: @tooltip %>
    <% end %>
</div>