<%= if map_size(@pools) > 0 do %>
  <p>Pool list:
  <%= for {pool_staking_address, amounts} <- @pools do %>
    <p><%= pool_staking_address %> (token_reward_sum = <%= amounts.token_reward_sum %>, native_reward_sum = <%= amounts.native_reward_sum %>)</p>
  <% end %>
<% else %>
  <p>
    <%= if @error do %>
      <%= @error %>
    <% else %>
      <%= gettext("Unable to find any pools you staked into.") %>
    <% end %>
  </p>
<% end %>