<div class="stakes-address-container js-pool-info" data-address="<%= to_string(@address) %>">
  <span class="stakes-address stakes-address-active">
    <%= BlockScoutWeb.AddressView.trimmed_hash(@address) %>
  </span>
  <%= if @tooltip do %>
    <%= render BlockScoutWeb.CommonComponentsView, "_check_tooltip.html", text: @tooltip %>
  <% end %>
</div>