<!DOCTYPE html>
<html lang="<%= @conn.assigns.locale %>">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title><%= gettext "POA Network Explorer" %></title>
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
  </head>

  <body>
    <div class="wrapper wrapper-overflow">
      <!-- Sidebar Holder -->
      <div id="sidebar--container">
      <nav id="sidebar">
        <div class="sidebar-header">
          <%= link to: chain_path(@conn, :show), "data-test": "header_logo" do %>
            <img class="" src="<%= static_path(@conn, "/images/logo.svg") %>" />
          <% end %>
        </div>
        <div class="menu-items">
          <%= link to: block_path(@conn, :index, Gettext.get_locale), class: "header__link" do %>
            <div tabindex="0" class="icon-locate">
                <img class="" src="<%= static_path(@conn, "/images/block.svg") %>" />
                <%= gettext("Blocks") %>
            </div>
          <% end %>
          <div tabindex="0" class="icon-locate">
            <a href="#pageSubmenu" data-toggle="collapse" aria-expanded="false">
              <img class="" src="<%= static_path(@conn, "/images/transaction.svg") %>" />
              <%= gettext("Transactions") %>
              <i class="fa fa-caret-down"></i>
            </a>
            <ul class="collapse list-unstyled" id="pageSubmenu">
              <li><%= link(gettext("Validated"), to: transaction_path(@conn, :index, Gettext.get_locale)) %></li>
              <li><%= link(gettext("Pending"), to: pending_transaction_path(@conn, :index, Gettext.get_locale)) %></li>
            </ul>
          </div>
        </div>
      </nav>
    </div>
      <!-- Page Content Holder -->
      <div id="content" class="size-content">
        <div class="content-header">
          <nav>
            <button type="button" id="sidebarCollapse" class="navbar-btn" data-test="hamburger_menu_button">
                <span></span>
                <span></span>
                <span></span>
            </button>
          </nav>
          <header class="header">
            <div class="header__container" cellspacing="0" cellpadding="0" border="0">
              <div class="header__row">
                <div class="header__cell header__cell--search">
                  <%= form_for @conn, chain_path(@conn, :search, Gettext.get_locale), [class: "header__cell--search-form", method: :get, enforce_utf8: false], fn f -> %>
                    <%= img_tag :svg, src: static_path(@conn, "/images/mgi.svg"), class: "header__cell--search-glass" %>
                    <%= search_input f, :q, class: 'header__cell--search-input', placeholder: gettext "Search by address, transaction hash, or block number" %>
                  <% end %>
                </div>
                <div class="header__cell header__cell--links" align="right">
                  <a href="https://www.facebook.com/PoaNetwork/" target="_blank" class="header__link">
                    <div class="social-media">
                      <i class="fa fa-facebook-f"></i>
                    </div>
                  </a>
                  <a href="https://www.instagram.com/PoaNetwork/" target="_blank" class="header__link">
                    <div class="social-media">
                      <i class="fa fa-instagram"></i>
                    </div>
                  </a>
                  <a href="https://www.twitter.com/PoaNetwork/" target="_blank" class="header__link">
                    <div class="social-media">
                      <i class="fa fa-twitter"></i>
                    </div>
                  </a>
                </div>
              </div>
            </div>
          </header>
        </div>
        <div class="content-container">
          <main>
            <p class="alert alert-info" role="alert"><%= get_flash(@conn, :info) %></p>
            <p class="alert alert-danger" role="alert"><%= get_flash(@conn, :error) %></p>
            <%= render @view_module, @view_template, assigns %>
          </main>
        </div>
        <%= render ExplorerWeb.LayoutView, "_footer.html", assigns %>
        <!-- <%= render ExplorerWeb.LayoutView, "_footer.html", assigns %> -->
      </div>
      <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
  </body>
</html>
