<!DOCTYPE html>
<html lang="<%= @conn.assigns.locale %>">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title><%= gettext "POA Network Explorer" %></title>
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
    <script>
     window.locale = '<%= @conn.assigns.locale %>'
    </script>
  </head>

  <body>
    <div class="content-wrapper">
      <!-- Sidebar Holder -->
      <%= render ExplorerWeb.LayoutView, "_sidebar.html", assigns %>
      <!-- Page Content Holder -->
      <div id="content">
        <div class="content-header">
          <nav>
            <button type="button" id="sidebarCollapse" class="navbar-btn">
                <span></span>
                <span></span>
                <span></span>
            </button>
          </nav>
          <%= render ExplorerWeb.LayoutView, "_ribbon.html", assigns %>
          <%= render ExplorerWeb.LayoutView, "_topnav.html", assigns %>
        </div>
        <div class="content-container">
          <main>
            <p class="alert alert-info" role="alert"><%= get_flash(@conn, :info) %></p>
            <p class="alert alert-danger" role="alert"><%= get_flash(@conn, :error) %></p>
            <%= render @view_module, @view_template, assigns %>
          </main>
        </div>
        <%= render ExplorerWeb.LayoutView, "_footer.html", assigns %>
      </div>
      <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
  </body>
</html>
