<%= link(@transaction |> hash |> String.slice(2..7),
    to: transaction_path(@conn, :show, @conn.assigns.locale, @transaction),
    "data-toggle": "tooltip",
    "data-placement": "top",
    "data-test": "transaction_hash",
    "data-transaction-hash": @transaction.hash,
    class: "monospace",
    title: @transaction) %>
