.header {
  @extend %explorer-header-min-height;
  background: explorer-color("gray", 900);

  &__container {
    width: 100%;
  }

  &__row { vertical-align: middle; }
  &__cell {
    @extend %explorer-header-height;
    &--logo { @extend %explorer-header-square-width; }
  }
  &__logo-link {
    @extend %explorer-header-height;
    @extend %explorer-header-square-width;
    display: block;
  }
  &__logo {
    @extend %explorer-header-height;
    @extend %explorer-header-square-width;
    display: block;
  }
}
