%section-header {
  margin-top: explorer-size(-1);
  margin-bottom: explorer-size(0);
}

%section-header__heading {
  @include explorer-typography("title");
  color: explorer-color("gray", "500");
  margin: 0;
}

%section-header__subheading {
  @include explorer-typography("body1");
  color: explorer-color("slate", "100");
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  margin: 0;
}

%section-tabs {
  border-bottom: 1px solid explorer-color("slate", "500");
  padding: 0 explorer-size(0);
}

%section-tabs__tab {
  @include explorer-typography("body1");
  margin: 0;
  border-top: explorer-size(-4) solid transparent;
  border-left: explorer-size(-4) solid transparent;
  border-right: explorer-size(-4) solid transparent;
  display: inline-block;
  padding: explorer-size(-2) explorer-size(-2);
}

%section-tabs__tab--active {
  border-top-color: explorer-color("blue", "500");
}

%section-list__item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

%section-list__item-key {
  color: explorer-color("black");
  min-width: explorer-size(3);
}

%section-list__item-value {
  color: explorer-color("slate", "100");
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
