.transactions {
  @extend %paper;

  &__container {
    padding: explorer-size(-1) explorer-size(0);
    & + & { padding-top: 0; }
    &--title { padding-top: explorer-size(0); }
  }

  &__title {
    @include explorer-typography("title");
    color: explorer-color("slate", "100");
    margin: 0;
  }

  &__table {
    @extend %table;
    @include explorer-typography("body1");
    color: explorer-color("slate", "100");
  }

  &__hash {
    width: explorer-size(2);
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }
}

@media (min-width: $explorer-breakpoint-lg) {
  .transactions {
    &__hash { width: explorer-size(3); }
  }
}

@media (min-width: $explorer-breakpoint-xl) {
  .transactions {
    &__hash { width: explorer-size(4); }
  }
}
