.transactions {
  @extend %paper;

  &__container {
    padding: explorer-size(-1) explorer-size(0);
    & + & { padding-top: 0; }
    &--title { padding-top: explorer-size(0); }
  }

  &__headline-title,
  &__title {
    @include explorer-typography("title");
    color: explorer-color("slate", "100");
    margin: 0;
  }

  &__headline-title { line-height: 18px; }

  &__table {
    @extend %table;
    @include explorer-typography("body1");
    color: explorer-color("slate", "100");
  }

  &__column-header { @include explorer-typography("body1"); }
  &__link {
    color: explorer-color("blue", "500");

    &--truncated {
      display: inline-block;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
    }

    &--long-hash { max-width: explorer-size(2); }
    &--hash { max-width: explorer-size(2); }
  }

  &__pagination {
    margin: explorer-size(-1) 0 explorer-size(-2) 0;
    .pagination { text-align: right; }
  }

  &__column-header {
    &--optional { display: none; }
  }

  &__column {
    &--optional { display: none; }
  }

  &__tabs { @extend %section-tabs; }

  &__tab {
    @extend %section-tabs__tab;
    &--active { @extend %section-tabs__tab--active; }
  }

  &__tab-link {
    color: explorer-color("blue", "500");
    text-decoration: none;
    &--active { color: explorer-color("slate", "100"); }
  }

  &__hash-container { height: 1rem; }
}

@media (min-width: $explorer-breakpoint-sm) {
  .transactions {
    &__link {
      &--long-hash { max-width: explorer-size(3); }
      &--hash { max-width: explorer-size(1); }
    }
  }
}

@media (min-width: $explorer-breakpoint-md) {
  .transactions {
    &__headline {
      display: flex;
      align-items: center;
      justify-content: center;
    }
    &__headline-title { flex: 1; }
    &__pagination {
      margin: explorer-size(-1) 0 explorer-size(-2) 0;
    }
    &__link {
      &--long-hash { max-width: explorer-size(4); }
      &--hash { max-width: explorer-size(3); }
    }
  }
}

@media (min-width: $explorer-breakpoint-lg) {
  .transactions {
    &__link {
      &--long-hash { max-width: explorer-size(5); }
      &--hash { max-width: explorer-size(4); }
    }
  }
}

@media (min-width: $explorer-breakpoint-xl) {
  .transactions {
    &__column-header {
      &--optional { display: table-cell; }
    }
    &__column {
      &--optional { display: table-cell; }
    }
    &__link {
      &--long-hash { max-width: explorer-size(5); }
      &--hash { max-width: explorer-size(4); }
    }
  }
}
