CHAIN_TYPE=ethereum

ETHEREUM_JSONRPC_VARIANT=geth
ETHEREUM_JSONRPC_TRACE_URL=""

API_RATE_LIMIT=100
HEART_BEAT_TIMEOUT=30
TXS_STATS_DAYS_TO_COMPILE_AT_INIT=2
INDEXER_MEMORY_LIMIT=6

POOL_SIZE=50
POOL_SIZE_API=50
ACCOUNT_POOL_SIZE=10

INDEXER_DISABLE_EMPTY_BLOCKS_SANITIZER='true'
INDEXER_DISABLE_PENDING_TRANSACTIONS_FETCHER='true'
INDEXER_DISABLE_INTERNAL_TRANSACTIONS_FETCHER='true'
INDEXER_DISABLE_BLOCK_REWARD_FETCHER='true'
INDEXER_DISABLE_ADDRESS_COIN_BALANCE_FETCHER='true'
INDEXER_DISABLE_CATALOGED_TOKEN_UPDATER_FETCHER='true'
ETHEREUM_JSONRPC_DISABLE_ARCHIVE_BALANCES='true'
INDEXER_DISABLE_TOKEN_INSTANCE_RETRY_FETCHER='true'
INDEXER_DISABLE_TOKEN_INSTANCE_REALTIME_FETCHER='true'
INDEXER_DISABLE_TOKEN_INSTANCE_SANITIZE_FETCHER='true'
INDEXER_DISABLE_WITHDRAWALS_FETCHER='true'

INDEXER_CATCHUP_BLOCKS_BATCH_SIZE=5
INDEXER_COIN_BALANCES_BATCH_SIZE=1
INDEXER_EMPTY_BLOCKS_SANITIZER_BATCH_SIZE=1
INDEXER_BLOCK_REWARD_BATCH_SIZE=1
INDEXER_RECEIPTS_BATCH_SIZE=10
INDEXER_COIN_BALANCES_BATCH_SIZE=1
INDEXER_ARCHIVAL_TOKEN_BALANCES_BATCH_SIZE=1

INDEXER_CATCHUP_BLOCKS_CONCURRENCY=1
MIGRATION_TOKEN_INSTANCE_OWNER_BATCH_SIZE=1
MIGRATION_TOKEN_INSTANCE_OWNER_CONCURRENCY=1
INDEXER_BLOCK_REWARD_CONCURRENCY=1
INDEXER_RECEIPTS_CONCURRENCY=1
INDEXER_COIN_BALANCES_CONCURRENCY=1
INDEXER_TOKEN_CONCURRENCY=1
INDEXER_ARCHIVAL_TOKEN_BALANCES_CONCURRENCY=1
INDEXER_TOKEN_INSTANCE_RETRY_CONCURRENCY=1
INDEXER_TOKEN_INSTANCE_REALTIME_CONCURRENCY=1
INDEXER_TOKEN_INSTANCE_SANITIZE_CONCURRENCY=1
INDEXER_TOKEN_INSTANCE_RETRY_BATCH_SIZE=1
INDEXER_TOKEN_INSTANCE_REALTIME_BATCH_SIZE=1
INDEXER_TOKEN_INSTANCE_SANITIZE_BATCH_SIZE=1

INDEXER_TOKEN_BALANCES_FETCHER_INIT_QUERY_LIMIT=2
INDEXER_COIN_BALANCES_FETCHER_INIT_QUERY_LIMIT=2

DISABLE_MARKET='true'
SOURCIFY_INTEGRATION_ENABLED='false'

API_V2_ENABLED=true

DISABLE_CATCHUP_INDEXER='false'
INDEXER_CATCHUP_BLOCKS_BATCH_SIZE=10
INDEXER_CATCHUP_BLOCKS_CONCURRENCY=10
ETHEREUM_JSONRPC_HTTP_URL="https://ethereum-sepolia-rpc.publicnode.com"
