<section class="container">
  <div class="row">
    <div class="col-12"> 
      <div class="card">
        <div class="card-body">
          <h1 class="card-title"><%= gettext "Invalid Transaction Hash" %></h1>
          <div class="tile tile-muted text-center">
            <span> <span class="font-weight-bold"><%= @transaction_hash %></span> <%= gettext "is not a valid transaction hash" %> </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
