web3==5.23.1
docker==5.0.2
crossplane==0.5.7
psycopg2==2.9.3

ima-predeployed==1.1.3b0
etherbase-predeployed==1.0.0
marionette-predeployed==1.0.0
filestorage-predeployed==1.0.1b1
config-controller-predeployed==1.0.0.dev6
multisigwallet-predeployed==0.0.1a5
predeployed-generator==1.0.0