<% private_tags = if assigns[:private_tags], do: @private_tags, else: [] %>
<%= for private_tag <- private_tags do %>
  <%= if private_tag.label =~ "dark forest" do %>
    <%= render BlockScoutWeb.FormView, "_tag.html", text: private_tag.display_name, additional_classes: ["df", "ml-1"] %>
  <% else %>
    <%= render BlockScoutWeb.FormView, "_tag.html", text: private_tag.display_name, additional_classes: [tag_name_to_label(private_tag.label), "ml-1"] %>
  <% end %>
<% end %>