<%= if @address do %>
  <%= link to: address_path(BlockScoutWeb.Endpoint, :show, Address.checksum(@address.hash)), "data-test": "address_hash_link", class: assigns[:class] do %>
    <%= render BlockScoutWeb.AddressView, "_responsive_hash.html", address: @address, contract: @contract, truncate: assigns[:truncate], use_custom_tooltip: @use_custom_tooltip %>
  <% end %>
<% end %>
