<% library_address = "library" <> to_string(@index) <>  "_address" |> String.to_atom() %>
<div class="smart-contract-form-group">
    <div class="smart-contract-form-group-inner-wrapper">
    <%= label :external_libraries, @library, gettext("Library") <> " " <> to_string(@index) <> " " <> gettext("Address") %>
    <div class="center-column">
        <%= text_input :external_libraries, library_address, class: "form-control border-rounded", "aria-describedby": "contract-name-help-block" %>
    </div>
    <div class="smart-contract-form-group-tooltip"><%= if assigns[:tooltip_text] do @tooltip_text end %></div>
    </div>
</div>