<a class="dropdown-item"
    href="https://cowswap.exchange/#/swap?outputCurrency=0xe91D153E0b41518A2Ce8Dd3D7944Fa863463a97d&inputCurrency=<%= @contract_address %>&exactField=input"
    target="_blank"
>
    <div class="btn-swap cowswap mr-1"
        aria-label='<%= gettext "Swap Token to WXDai through CowSwap" %>'
        data-token-symbol="<%= @symbol %>"
        data-placement="top"
        data-toggle="tooltip"
    ></div>
    <%= gettext "CowSwap" %>
</a>