<button
    class="btn-add-line btn-line <%= if assigns[:extra_class] do @extra_class end %>"
    <%= if assigns[:disabled] do "disabled" end %>
>
    <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14">
        <path fill-rule="evenodd" d="M13 8H8v5a1 1 0 0 1-2 0V8H1a1 1 0 0 1 0-2h5V1a1 1 0 0 1 2 0v5h5a1 1 0 0 1 0 2z"/>
    </svg>
    <span class="btn-line-text"><%= @text %></span>
</button>