<a class="dropdown-item"
    href="https://xdai.curve.fi"
    target="_blank"
>
    <div class="btn-swap curve mr-1"
        aria-label='<%= gettext "Swap token through Curve" %>'
        data-placement="top"
        data-toggle="tooltip"
    ></div>
    <%= gettext "Curve" %>
</a>