<a class="dropdown-item"
    href="https://app.sushi.com/swap?inputCurrency=<%= @contract_address %>&outputCurrency=0xe91D153E0b41518A2Ce8Dd3D7944Fa863463a97d"
    target="_blank"
>
    <div class="btn-swap sushi mr-1"
        aria-label='<%= gettext "Swap Token to WXDai through Sushi" %>'
        data-token-symbol="<%= @symbol %>"
        data-placement="top"
        data-toggle="tooltip"
    ></div>
    <%= gettext "Sushi" %>
</a>