<%= for _r <- 1..5 do %>
<tr class="table-content-pseudo">
  <%= for _c <- 1..@columns_num do %>
    <td class="stakes-td">
      <span class="table-content-loader"></span>
    </td>
  <% end %>
</tr>
<% end %>
