<tr class="table-content-pseudo">
  <td class="stakes-td">
    <span class="table-content-loader"></span>
  </td>
  <td class="stakes-td">
    <span class="table-content-loader"></span>
  </td>
  <td class="stakes-td">
    <span class="table-content-loader"></span>
  </td>
  <%= if assigns[:total_supply] do %>
    <%= if balance_percentage_enabled?(@total_supply) do %>
      <td class="stakes-td">
        <span class="table-content-loader"></span>
      </td>
    <% end %>
  <% end %>
  <td class="stakes-td">
    <span class="table-content-loader"></span>
  </td>
</tr>
<tr class="table-content-pseudo">
  <td class="stakes-td">
    <span class="table-content-loader"></span>
  </td>
  <td class="stakes-td">
    <span class="table-content-loader"></span>
  </td>
  <td class="stakes-td">
    <span class="table-content-loader"></span>
  </td>
  <%= if assigns[:total_supply] do %>
    <%= if balance_percentage_enabled?(@total_supply) do %>
      <td class="stakes-td">
        <span class="table-content-loader"></span>
      </td>
    <% end %>
  <% end %>
  <td class="stakes-td">
    <span class="table-content-loader"></span>
  </td>
</tr>
<tr class="table-content-pseudo">
  <td class="stakes-td">
    <span class="table-content-loader"></span>
  </td>
  <td class="stakes-td">
    <span class="table-content-loader"></span>
  </td>
  <td class="stakes-td">
    <span class="table-content-loader"></span>
  </td>
  <%= if assigns[:total_supply] do %>
    <%= if balance_percentage_enabled?(@total_supply) do %>
      <td class="stakes-td">
        <span class="table-content-loader"></span>
      </td>
    <% end %>
  <% end %>
  <td class="stakes-td">
    <span class="table-content-loader"></span>
  </td>
</tr>
<tr class="table-content-pseudo">
  <td class="stakes-td">
    <span class="table-content-loader"></span>
  </td>
  <td class="stakes-td">
    <span class="table-content-loader"></span>
  </td>
  <td class="stakes-td">
    <span class="table-content-loader"></span>
  </td>
  <%= if assigns[:total_supply] do %>
    <%= if balance_percentage_enabled?(@total_supply) do %>
      <td class="stakes-td">
        <span class="table-content-loader"></span>
      </td>
    <% end %>
  <% end %>
  <td class="stakes-td">
    <span class="table-content-loader"></span>
  </td>
</tr>
<tr class="table-content-pseudo">
  <td class="stakes-td">
    <span class="table-content-loader"></span>
  </td>
  <td class="stakes-td">
    <span class="table-content-loader"></span>
  </td>
  <td class="stakes-td">
    <span class="table-content-loader"></span>
  </td>
  <%= if assigns[:total_supply] do %>
    <%= if balance_percentage_enabled?(@total_supply) do %>
      <td class="stakes-td">
        <span class="table-content-loader"></span>
      </td>
    <% end %>
  <% end %>
  <td class="stakes-td">
    <span class="table-content-loader"></span>
  </td>
</tr>
