<tr class="table-content-pseudo">
  <td class="stakes-td">
    <span class="table-content-loader"></span>
  </td>
  <td class="stakes-td">
    <span class="table-content-loader"></span>
  </td>
  <td class="stakes-td">
    <span class="table-content-loader"></span>
  </td>
  <td class="stakes-td">
    <span class="table-content-loader"></span>
  </td>
</tr>
<tr class="table-content-pseudo">
  <td class="stakes-td">
    <span class="table-content-loader"></span>
  </td>
  <td class="stakes-td">
    <span class="table-content-loader"></span>
  </td>
  <td class="stakes-td">
    <span class="table-content-loader"></span>
  </td>
  <td class="stakes-td">
    <span class="table-content-loader"></span>
  </td>
</tr>
<tr class="table-content-pseudo">
  <td class="stakes-td">
    <span class="table-content-loader"></span>
  </td>
  <td class="stakes-td">
    <span class="table-content-loader"></span>
  </td>
  <td class="stakes-td">
    <span class="table-content-loader"></span>
  </td>
  <td class="stakes-td">
    <span class="table-content-loader"></span>
  </td>
</tr>
<tr class="table-content-pseudo">
  <td class="stakes-td">
    <span class="table-content-loader"></span>
  </td>
  <td class="stakes-td">
    <span class="table-content-loader"></span>
  </td>
  <td class="stakes-td">
    <span class="table-content-loader"></span>
  </td>
  <td class="stakes-td">
    <span class="table-content-loader"></span>
  </td>
</tr>
<tr class="table-content-pseudo">
  <td class="stakes-td">
    <span class="table-content-loader"></span>
  </td>
  <td class="stakes-td">
    <span class="table-content-loader"></span>
  </td>
  <td class="stakes-td">
    <span class="table-content-loader"></span>
  </td>
  <td class="stakes-td">
    <span class="table-content-loader"></span>
  </td>
</tr>