<% tenderly_link = "https://dashboard.tenderly.co/tx/xdai/" <> "0x" <> Base.encode16(@transaction_hash.bytes, case: :lower) %>
<span class="tenderly-link ml-2">
    <a href="<%= tenderly_link %>">Open in Tenderly</a>
</span>
<span class="tenderly-link mobile" onclick="window.location.href='<%= tenderly_link %>';">
    <img class="tenderly-icon" />
</span>