<div class="tile tile-muted tile-function-response monospace">
<pre>
[ <strong><%= @function_name %></strong> method Response ]

[<%= for item <- @outputs do %>
<span class="function-response-item"><%= if named_argument?(item) do %><%= item["name"] %>
<% end %>
<span class="text-muted">(<%= item["type"] %>)</span> : <%= values(item["value"], item["type"]) %></span><% end %>]
</pre>
</div>
