<title>
  <%= gettext("%{subnetwork} %{network} Explorer", subnetwork: LayoutView.subnetwork_title(), network: LayoutView.network_title()) %>
</title>
<meta name="description" content="<%= gettext "Enix Explorer provides analytics data, API, and Smart Contract tools for %{subnetwork}", subnetwork: LayoutView.subnetwork_title() %>">
<meta name="keywords" content="Enix Explorer, blockchain, api, analytics, address, smart contract">
