.button {
  border: none;
  display: inline-block;
  text-align: center;
  text-decoration: none;
  white-space:  nowrap;
  padding: 4px 10px;
  border-radius: .14589803rem;

  &--primary {
    background-color: $primary !important;
    color: $black !important;
    -webkit-transition: background-color .25s, color .25s !important;
    transition: background-color .25s, color .25s;

    &:hover,
    &:focus {
      background-color: $gray-700 !important;
      color: $gray-200 !important;
      text-decoration: none;
    }

    &:disabled {
      background-color: $gray-300;
      color: $gray-800;
      text-decoration: none;
    }
  }

  &--secondary {
    background-color: $gray-300;
    color: $gray-800;
    font-size: 13px;
    -webkit-transition: background-color .25s;
    transition: background-color .25s;
    font-weight: 400;

    &:hover,
    &:focus {
      background-color: explorer-color("gray", "400");
      color: explorer-color("gray", "900");;
      text-decoration: none;
      outline: none !important;
    }
  }

  &--tertiary {
    background-color: $gray-500;
    color: $gray-800;
    -webkit-transition: background-color .25s, color .25s;
    transition: background-color .25s, color .25s;

    &:hover,
    &:focus {
      background-color: $gray-800;
      color: $gray-400;
    }
  }

  &--xsmall {
    max-width: 40px;
    font-size: 1rem;
    padding: 6px 9px 6px !important;
  }

  &--small {
    font-size: 1.25rem;
    padding: 10px 20px 10px;
  }

  &--medium {
    font-size: 1.5rem;
    padding: 15px 30px 15px;
  }

  &--large {
    font-size: 1.5rem;
    padding: 20px 60px 20px;
  }

// Block button
// --------------------------------------------------

  &--block {
    display: block;
    width: 100%;
  }

  &--disabled {
    background-color: $gray-300;
    color: $gray-500;
    text-decoration: none;
  }

}

// Vertically space out multiple block buttons
.button--block + .button--block {
  margin-top: 5px;
}
