.button {
  border: none;
  display: inline-block;
  text-align: center;
  text-decoration: none;
  white-space:  nowrap;
  padding: 4px 10px;
  border-radius: .14589803rem;

  &--primary {
    background-color: $ma-white !important;
    border: 1px solid $ma-green;
    color: $ma-black !important;
    -webkit-transition: background-color .25s, color .25s !important;
    transition: background-color .25s, color .25s;

    &:hover,
    &:focus {
      background-color: $ma-grey !important;
      color: lighten($ma-grey, 60%) !important;
      text-decoration: none;
    }

    &:disabled {
      background-color: $ma-lightgrey;
      color: lighten($ma-grey,40%);
      text-decoration: none;
    }
  }

  &--secondary {
    background-color: explorer-color("gray", "400");
    color: $ma-white;
    font-size: 13px;
    -webkit-transition: background-color .25s;
    transition: background-color .25s;
    font-weight: 300;

    &:hover,
    &:focus {
      background-color: explorer-color("slate", "900");
      color: $ma-white;
      text-decoration: none;
    }
  }

  &--tertiary {
    background-color: lighten($ma-grey, 60%);
    color: $ma-grey;
    -webkit-transition: background-color .25s, color .25s;
    transition: background-color .25s, color .25s;

    &:hover,
    &:focus {
      background-color: $ma-grey;
      color: lighten($ma-grey, 60%);
    }
  }

 &--hidden {
   color: darken($ma-green, 20%);
   width: 112px;
   font-weight: 400;
   border: 1px solid lighten($ma-grey, 50%);
   padding: 22px !important;

   &:hover,
   &:focus {
     background-color: $ma-grey;
     color: $ma-white;
     text-decoration: none;
   }

   @media screen and (max-width: 768px) {
     width: 100%;
   }
 }

  &--activate {
    border: 1px solid $ma-teal;
    width: 100px;
    color: $ma-teal;
    -webkit-transition: background-color .25s, color .25s;
    transition: background-color .25s, color .25s;

    &:hover,
    &:focus {

    }
  }

  &--xsmall {
    max-width: 40px;
    font-size: 1rem;
    padding: 6px 9px 6px !important;
  }

  &--small {
    font-size: 1.25rem;
    padding: 10px 20px 10px;
  }

  &--medium {
    font-size: 1.5rem;
    padding: 15px 30px 15px;
  }

  &--large {
    font-size: 1.5rem;
    padding: 20px 60px 20px;
  }

// Block button
// --------------------------------------------------

  &--block {
    display: block;
    width: 100%;
  }

  &--disabled {
    background-color: $ma-lightgrey;
    color: lighten($ma-grey,40%);
    text-decoration: none;
  }

}

// Vertically space out multiple block buttons
.button--block + .button--block {
  margin-top: 5px;
}
