.table-font {
  font-size: 12px;
  color: $gray-800;

  thead th, td, th, tbody+tbody {
    border-top: none;
    border-bottom: none;
  }

  i {
    color: $gray-500;
  }

  img {
    width: 12px;
  }
}

.table-horizontal {
  th {
    width: 35%;
  }
}
