@keyframes fade-in {
  0% {opacity: 0;}
  100% {opacity: 1;}
}

@keyframes fade-up {
  0% {
    height: 0;
    opacity: 0;
  }
  25% {
    opacity: 0;
    transform: translateY(10px);
  }
  50% {
    height: 5em;
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.fade-in {
  animation: fade-in 1s ease-out forwards;
}


.fade-up {
  transition: all .9s ease-out;
  animation: fade-up .8s cubic-bezier(0.455, 0.03, 0.515, 0.955);
}
