.card {
  border-color: transparent;
  box-shadow: 0 5px 40px -5px rgba($black, 0.25);
  border-radius: 0;
  margin-bottom: 3rem;
}

.card-header {
  background-color: $white;

  &-tabs {
    margin: (-$card-spacer-y) (-$card-spacer-x);
  }
}

.card-title {
  line-height: 2.2rem;
  margin-bottom: 1rem;
}
