.chain {
  justify-conntent: space-around;
  align-items: flex-start;
  padding: explorer-size(0) 0;

  &__container {
    text-align: center;
  }

  &__image {
    display: inline-block;
    height: explorer-size(0);
    margin-bottom: explorer-size(-2);
  }

  &__title {
    font-size: 13px;
    line-height: 24px;
  }
}


.container__stats {
  display: flex;
  font-size: 12px;
  text-align: center;
  flex-direction: row;

  img {
    display: inline-block;
    height: explorer-size(1);
    margin-bottom: explorer-size(-2);
    text-align: center;
  }

  svg {
    height: 30px;
  }

  path {
    fill: $primary;
  }

  .stroke {
    stroke: $primary;
  }
}

.graph__squares {
  width: 12px;
  height: 12px;
  display: inline-block;

  &--price {
    background-color: $primary;
  }

  &--mcap {
    background-color: $secondary;
  }
}

@include media-breakpoint-up(md) {

  .container__stats {
    color: $gray-500;
    width: 16.67%;

    img {
      display: inline-block;
      height: explorer-size(1);
      margin-bottom: explorer-size(-2);
      text-align: center;
    }
  }

  .container__graph {
    flex-grow: 1;
  }

  .chain {
    &__image {
      height: explorer-size(1);
    }

    &__container {
      &--secondary { display: none; }
    }
  }
}
