.chain {
  @extend %paper;
  padding: explorer-size(0) 0;

  &__container {
    flex: 1;
    text-align: center;
    &--secondary { display: none; }
    &--tertiary { display: none; }
  }

  &__image {
    display: inline-block;
    height: explorer-size(0);
    margin-bottom: explorer-size(-2);
  }

  &__title {
    @include explorer-typography("caption");
    &--data { color: explorer-color("blue", "500"); }
  }
}

.container__stats {
  @extend %paper;
  display: flex;
  padding: 15px;
  width: 100%;
  font-size: 12px;
  text-align: center;
  flex-direction: row;
  justify-content: space-around;

  img {
    display: inline-block;
    height: explorer-size(1);
    margin-bottom: explorer-size(-2);
    text-align: center;
  }
}

.graph__squares {
  width: 12px;
  height: 12px;
  display: inline-block;

  &--price {
    background-color: explorer-color("blue", "500");
  }

  &--mcap {
    background-color: explorer-color("gray", "500");
  }
}

.flex {
  display: flex;
  justify-content: space-between;
}

@media (min-width: $explorer-breakpoint-sm) {
  .chain {
    &__image {
      height: explorer-size(1);
    }

    &__container {
      &--secondary { display: block; }
    }
  }
}

@media (min-width: $explorer-breakpoint-md) {

  .container__stats {
    width: 18%;
    flex-direction: column;
    align-content: space-between;

    img {
      display: inline-block;
      height: explorer-size(1);
      margin-bottom: explorer-size(-2);
      text-align: center;
    }

    div {
      flex-grow: 1;
    }
  }
  .chain {
    &__image {
      height: explorer-size(1);
    }

    &__container {
      &--secondary { display: none; }
    }
  }
}

@media (min-width: $explorer-breakpoint-lg) {
  .chain {
    &__image {
      height: explorer-size(1);
    }

    &__container {
      &--secondary { display: block; }
    }
  }
}

@media (min-width: $explorer-breakpoint-xl) {
  .chain {
    &__image {
      height: explorer-size(1);
    }

    &__container {
      &--tertiary { display: block; }
    }
  }
}
