.footer {
  font-size: 12px;
  display: block;
  bottom: 0;
  background: explorer-color("gray", "50");
  color:explorer-color("gray", "700");
  text-align: center;
  margin-top: 15px;
  padding: 14px;
  height: 50px;


  @media (max-width: 768px) {
    width: 100%;
  }
}
