.footer {
  font-size: 12px;
  display: block;
  bottom: 0;
  background: $gray-100;
  color:$gray-600;
  text-align: center;
  margin-top: 15px;
  padding: 14px;
  height: 50px;


  @media (max-width: 768px) {
    width: 100%;
  }
}
