.header {
  @extend %explorer-header-min-height;
  background: explorer-color("gray", "50");
  box-shadow: 0 2px 2px 0 rgba(explorer-color("slate", "900"), 0.16),
              0 0px 2px 0 rgba(explorer-color("slate", "900"), 0.12);
  display: flex;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;

  &__container {
    width: 100%;
    margin-top: 7px;
  }

  &__row {
    vertical-align: middle;
  }

  &__cell {


    &--links {
      display: flex;
      flex-direction: row-reverse;
      padding-right: explorer-size(0);
    }


    &--search {
      @include explorer-typography("body1");
      padding-left: 8px;
    }

    &--search-form {
      position: relative;
    }

    &--search-glass {
      height: 16px;
      width: 16px;
      position: absolute;
      top: 18px;
      left: 16px;
      opacity: 0.5;
    }

    &--search-input {
      width: 50%;
      border: none;
      background-color: transparent;
      height: 50px;
      padding-left: 45px;

      @media (max-width: 768px) {
        width: 90%;
        padding-top: 5px;
      }
    }

    &--search-input[placeholder] {
      text-overflow: ellipsis;
    }
  }
}
