.nav-tabs {

  .nav-link {
    padding: 1.25rem 3rem;
    color: $text-muted;
    font-size: 14px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;

    &.active {
      color: $white;
      background-color: $primary;
      border-color: $primary;
    }

    &:hover {
      border-color: transparent;

      }
  }
}
