.tile {
  display: flex;
  flex-direction: column;
  font-size: 12px;
  color: $text-muted;
  border-radius: 2px;
  line-height: 1.4rem;
  border: 1px solid $border-color;
  border-left: 4px solid $primary;
  border-radius: 2px;
  padding: 1rem;
  box-shadow: 0 2px 5px rgba($black, 0.15);

  .tile-title {
    font-size: 14px;
    font-weight: 600;
    color: $black;
    margin-bottom: 0;
  }
}
