.tile {
  font-size: 12px;
  color: $text-muted;
  border-radius: 2px;
  line-height: 1.4rem;
  border: 1px solid $border-color;
  border-left: 4px solid $primary;
  border-radius: 2px;
  padding: 1rem;
  box-shadow: 0 2px 5px rgba($black, 0.15);

  & + & {
    margin-top: 1rem;
  }

  &-type {

    &-transaction {
      border-left: 4px solid $blue;

      .tile-label {
        color: $blue;
      }
    }

    &-contract {
      border-left: 4px solid $green;

      .tile-label {
        color: $green;
      }
    }

    &-contract-creation {
      border-left: 4px solid $pink;

      .tile-label {
        color: $pink;
      }
    }

    &-token {
      border-left: 4px solid $orange;

      .tile-label {
        color: $orange;
      }
    }
  }

  .tile-title {
    font-size: 14px;
    font-weight: 600;
    color: $gray-700;
    margin-bottom: 0;
  }
}
