.navbar-logo {
  height: 36px;
}

@include media-breakpoint-up(md) {
  .navbar-expand-lg .navbar-nav .nav-link {
    padding-left: 1.25rem;
    padding-right: 1.25rem;
  }
}

.navbar .form-control {
  background: transparent;
  width: auto;
  font-size: 12px;
  border-left: none;
  color: $white;

  &:focus {
    border-color: $input-border-color;
    box-shadow: none;
  }

  @include media-breakpoint-up(xl) {
    width: calc(43ch + #{$input-padding-x * 2});
  }
}

.navbar .input-group-text {
  background: none;
  border-right: none;
}

.fa-search {
  color: $white;
}
