.navbar-logo {
  height: 36px;
}

@media (min-width: 992px) {
  .navbar-expand-lg .navbar-nav .nav-link {
    padding-left: 1.25rem;
    padding-right: 1.25rem;
  }
}

.navbar .form-control {
  background: transparent;
  width: calc(43ch + #{$input-padding-x * 2});
  font-size: 12px;
  border-left: none;
  color: $white;
}

.navbar .input-group-text {
  background: none;
  border-right: none;
}

.fa-search {
  color: $white;
}
