<div class="card" id="<%= @module.name %>">
  <div class="card-header">
    <h2 class="card-title margin-bottom-0">
      <%= "#{String.capitalize(@module.name)}" %>
      <span class="api-text-title api-text-monospace api-text-monospace-background">?module=<%= @module.name %></span>
    </h2>
  </div>
  <%= for action <- @module.actions do %>
    <%= render "_action_tile.html", module_name: @module.name, action: action %>
  <% end %>
</div>

