<%= render BlockScoutWeb.StakesView, "_stakes_top.html" %>
<section class="container">
  <div class="card">
    <%= render BlockScoutWeb.StakesView, "_stakes_tabs.html", conn: @conn %>
    <%= render BlockScoutWeb.StakesView, "_stakes_title.html", title: "Inactive Pools", show_banned_checkbox: true %>
    <%= render BlockScoutWeb.StakesView, "_stakes_table.html", empty_content: false %>
  </div>
</section>
