<% token_icon_url = Explorer.Chain.get_token_icon_url_by(@chain_id, @address) %>
<img heigth=15 width=15 src="<%= token_icon_url %>" style="margin-top: -2px; min-height: 15px; min-width: 15px; <%= if assigns[:style], do: @style %>"  alt="" class="<%= if assigns[:additional_classes] do @additional_classes |> Enum.join(" ") end %>"/>
