$copy-icon-color: $primary !default;

.copy-icon {
  cursor: pointer;
  height: 18px;
  width: 18px;

  svg {
    display: block;
    height: 100%;
    width: 100%;
  }

  path {
    fill: $copy-icon-color;
  }
}
