.modal-delegators-info {
  max-width: map-get($container-max-widths, "lg");
  min-width: map-get($container-max-widths, "lg");
  width: 100%;

  .container {
    @include media-breakpoint-down(md) {
      max-width: map-get($container-max-widths, "lg");
    }
  }
}
