$stakes-btn-close-alert-color: $primary !default;

.stakes-btn-close-alert {
  border-style: none;
  background: transparent;
  outline: none !important;

  path {
    fill: $stakes-btn-close-alert-color;
  }
}
