<%= render BlockScoutWeb.StakesView, "_stakes_top.html", logged_in: false %>
<section class="container">
  <div class="card">
    <%= render BlockScoutWeb.StakesView, "_stakes_tabs.html", conn: @conn %>
    <%= render BlockScoutWeb.StakesView, "_stakes_title.html", title: "Validators", show_banned_checkbox: false %>
    <%= render BlockScoutWeb.StakesView, "_stakes_table.html", empty_content: true %>
  </div>
</section>
