<!DOCTYPE html>
<html lang="en-US">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">

    <link rel="apple-touch-icon" sizes="180x180" href="<%= static_path(@conn, "/apple-touch-icon.png") %>">
    <link rel="icon" type="image/png" sizes="32x32" href="<%= static_path(@conn, "/favicon-32x32.png") %>">
    <link rel="icon" type="image/png" sizes="16x16" href="<%= static_path(@conn, "/favicon-16x16.png") %>">
    <link rel="manifest" href="<%= static_path(@conn, "/site.webmanifest") %>">
    <link rel="mask-icon" href="<%= static_path(@conn, "/safari-pinned-tab.svg") %>" color="#5bbad5">
    <link rel="shortcut icon" href="<%= static_path(@conn, "/favicon.ico") %>">
    <meta name="msapplication-TileColor" content="#7dd79f">
    <meta name="msapplication-config" content="<%= static_path(@conn, "/browserconfig.xml") %>">
    <meta name="theme-color" content="#ffffff">

    <%= render_existing(@view_module, "_metatags.html", assigns) || render("_default_title.html") %>
  </head>

  <body>
    <div class="layout-container">
      <%= render BlockScoutWeb.LayoutView, "_topnav.html", assigns %>
      <main class="pt-5">
        <p class="alert alert-info" role="alert"><%= get_flash(@conn, :info) %></p>
        <p class="alert alert-danger" role="alert"><%= get_flash(@conn, :error) %></p>
        <%= render @view_module, @view_template, assigns %>
      </main>
      <%= render BlockScoutWeb.LayoutView, "_footer.html", assigns %>
    </div>
    <script>
      window.localized = {
        'Block Processing': '<%= gettext("Block Mined, awaiting import...") %>',
        'Less than': '<%= gettext("Less than") %>',
        'Market Cap': '<%= gettext("Market Cap") %>',
        'Price': '<%= gettext("Price") %>',
      }
    </script>
    <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
  </body>
</html>
