name: antispam

on:
  issues:
    types:
      - opened
      - edited
      - reopened

permissions:
  pull-requests: write
  issues: write

jobs:
  build:
    name: Antispam
    runs-on: ubuntu-latest

    steps:
      - uses: vbaranov/antispam-action@main
        with:
          token: ${{ github.token }}
        env:
          SCAM_ACTION_WHITELISTED_LOGINS: ${{ vars.SCAM_ACTION_WHITELISTED_LOGINS }}
